<section role="region" class="section--med">

    <div class="container">
        <h1 class="u-mar--bottom--med">Resources</h1>
        <div class="row">
            <div class="col col-sml-12 col-med-6 col-lrg-4">
                <div class="card--enh">
                    <form class="u-mar--bottom--sml">
                        <input type="search" class="input input--base input--search input--invert" placeholder="Type here..." />
                    </form>
                    <ul class="tree-view">
                        <li>
                            <div class="tree-view__category">
                                <div class="tree-view__category__title">Category 1</div>
                                <i class="u-icon u-icon--xsml u-icon--arrow-down u-mar--left--auto"></i>
                            </div>
                            
                            <ul class="tree-view__sub"> 
                                <li>
                                    - Subcategory (34)
                                </li>
                                <li>
                                    - Subcategory (34)
                                </li>
                                <li>
                                    - Subcategory (34)
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="tree-view__category">
                                <div class="tree-view__category__title">Category 1</div>
                                <i class="u-icon u-icon--xsml u-icon--arrow-down u-mar--left--auto"></i>
                            </div>
                            
                            <ul class="tree-view__sub"> 
                                <li>
                                    - Subcategory (34)
                                </li>
                                <li>
                                    - Subcategory (34)
                                </li>
                                <li>
                                    - Subcategory (34)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-sml-12 col-med-6 col-lrg-8">
                <div class="card--white faq">
                    <div class="faq__title u-mar--bottom--med">Frequently asked Questions</div>
                    <ul class="faq__list">
                        <li class="is-expanded u-mar--bottom--sml">
                            <div class="u-mar--right--med">
                                <button class="btn btn--expand" type="button">
                                    <i class="icon--plus"></i>
                                </button>
                            </div>
                            <div>
                                <div class="faq__question">I am interested in financing for my stock options. What are best steps?</div>
                                <p class="faq__answer u-mar--top--tny">You can submit a request by clicking on "Get Started" in the menu. Once you complete the questions, you will be able to submit a request for financing and our team of Equity Advisors will review your application and be in touch with next steps shortly.</p>
                            </div>
                        </li>

                        <li class="u-mar--bottom--sml">
                            <div class="u-mar--right--med">
                                <button class="btn btn--expand" type="button">
                                    <i class="icon--plus"></i>
                                </button>
                            </div>
                            <div>
                                <div class="faq__question">What are the rates for financing?</div>
                                <p class="faq__answer u-mar--top--tny">You can submit a request by clicking on "Get Started" in the menu. Once you complete the questions, you will be able to submit a request for financing and our team of Equity Advisors will review your application and be in touch with next steps shortly.</p>
                            </div>
                        </li>

                        <li class="u-mar--bottom--sml">
                            <div class="u-mar--right--med">
                                <button class="btn btn--expand" type="button">
                                    <i class="icon--plus"></i>
                                </button>
                            </div>
                            <div>
                                <div class="faq__question">I am not comfortable sharing my information. Can I speak to someone first?</div>
                                <p class="faq__answer u-mar--top--tny">You can submit a request by clicking on "Get Started" in the menu. Once you complete the questions, you will be able to submit a request for financing and our team of Equity Advisors will review your application and be in touch with next steps shortly.</p>
                            </div>
                        </li>

                        <li class="u-mar--bottom--sml">
                            <div class="u-mar--right--med">
                                <button class="btn btn--expand" type="button">
                                    <i class="icon--plus"></i>
                                </button>
                            </div>
                            <div>
                                <div class="faq__question">Does my financing require company approval?</div>
                                <p class="faq__answer u-mar--top--tny">You can submit a request by clicking on "Get Started" in the menu. Once you complete the questions, you will be able to submit a request for financing and our team of Equity Advisors will review your application and be in touch with next steps shortly.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>