<section class="section--top section--private-client" role="banner">
    <div class="container--split">
        <div class="container--split--left">
            <div class="container--split__text">
                <h5 class="type--color--negative u-mar--bottom--med">Private Client</h5>
                <h2 class="u-mar--bottom--sml type--color--negative">Elevate and enrich<br> your giving experience</h2> 
                <p class="u-mar--bottom--med type--color--opaque">
                    Welcome to the Private Client platform, an exclusive,
                    white-glove experience designed for high-net-worth
                    donors with annual giving budgets above $50,000.
                    </p>
                <div>
                     <a class="btn btn--base btn--neutral" href="/contact.html">Speak With Concierge</a> 
                </div>
            </div>
        </div>
        <div class="container--split--right">
            <img alt="The Donors' Fund Pedestals" class="container--split__img" src="/assets/img/private-client-pedestals.jpg" />
        </div>
    </div>
</section>