<section role="region" class="section--sml">
    <div class="container">
        <div class="row row-align-center">
            <div class="col col-sml-12 col-lrg-6">
                <img alt="The Donors' Fund Phone" class="u-display--b u-align--h--center" src="/assets/img/phone-big.png" />
            </div>
            <div class="col col-sml-12 col-lrg-6">
                <h3 class="u-mar--bottom--sml">Private Account <br class="u-hide--to--lrg">Concierge</h3>
                <ul class="list--checked">
                    <li><span>Finance advisor helps maximize your tax strategy</span></li>
                    <li><span>Personal concierge is dedicated to your mission</span></li>
                    <li><span>Giving advisor offers ongoing granting support</span></li>
                </ul>   
            </div>
        </div>
    </div>
</section>

<section role="region" class="section--sml">
    <div class="container">
        <div class="row row-align-center">
            <div class="col col-sml-12 col-lrg-6 order-sml-2 order-lrg-1">
                <h3 class="u-mar--bottom--sml">Private Foundation Switching</h3>
                <p class="u-mar--bottom--med type--center--to--med">We collaborate  with your accountants and managers<br class="u-hide--to--lrg">
to seamlessly transition from your private foundation to<br class="u-hide--to--lrg">
your new The Donors' Fund account
</p>
            <div class="type--center--to--med">
                <div class="btn btn--submit js-popup-open">Foundation vs. DAF <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></div>
            </div>
            </div>
            <div class="col col-sml-12 col-lrg-6 order-sml-1 order-lrg-2">
                <img alt="The Donors' Fund Folder" class="u-display--b u-align--h--center " src="/assets/img/folder.jpg" />
            </div>   
        </div>
    </div>
</section>

<section role="region" class="section--sml">
    <div class="container">
        <div class="row row-align-center">
            <div class="col col-sml-12 col-lrg-6">
                <img alt="The Donors' Fund Mobile" class="u-display--b u-align--h--center " src="/assets/img/mobile-mix.png" />
            </div> 
            <div class="col col-sml-12 col-lrg-6">
                <h3 class="u-mar--bottom--sml">Custom investment portfolio</h3>
                <p class="type--center--to--med">Exercise greater control with a customized<br class="u-hide--to--lrg">
account to directly access the portfolio <br class="u-hide--to--lrg">
and recommend your own trades with <br class="u-hide--to--lrg">investment balances exceeding $250,000

</p>
            </div>
        </div>
    </div>
</section>

<section role="region" class="section--sml">
    <div class="container">
        <div class="row row-align-center">
            <div class="col col-sml-12 col-lrg-6 order-sml-2 order-lrg-1">
                <h3 class="u-mar--bottom--sml">Money Managers Welcome</h3>
                <p class="type--center--to--med">Enable your own team to continue managing your portfolio while taking advantage of our advanced tools.</p>
            </div>
            <div class="col col-sml-12 col-lrg-6 order-sml-1 order-lrg-2">
                <img alt="The Donors' Fund Bow Tie" class="u-display--b u-align--h--center " src="/assets/img/bowtie.jpg" />
            </div> 
        </div>
    </div>
</section>

<section role="region" class="section--sml">
    <div class="container">
        <div class="row row-align-center">
            <div class="col col-sml-12 col-lrg-6">
                <img alt="The Donors' Fund Golden Egg" class="u-display--b u-align--h--center " src="/assets/img/golden-egg.jpg" />
            </div> 
            <div class="col col-sml-12 col-lrg-6">
                <h3 class="u-mar--bottom--sml">Real estate & Complex Assets</h3>
                <p class="type--center--to--med">Contribute real estate, notes, securities, equity stakes, hedge
fund assets, cryptocurrencies, collectibles, art, and other assets;
get an instant tax deduction at full market value; avoid capital
gains taxes on appreciated assets; The Donors' Fund liquidates assets on
behalf of your chosen charities.
</p>
            </div>
        </div>
    </div>
</section>

<section role="region" class="section--med">
    <div class="container">
        <div class="row row-align-center">
             
            <div class="col col-sml-12 col-lrg-6 order-sml-2 order-lrg-1">
                <h3 class="u-mar--bottom--sml">Upgraded Card & Personalized Check</h3>
                <p class="type--center--to--med">Personalize your giving experience with personalized<br class="u-hide--to--lrg">
checks (personal, computer, business), get an exclusive<br class="u-hide--to--lrg">
Bronze Giving Card, and enjoy zero grantmaking limits.</p>
            </div>
            <div class="col col-sml-12 col-lrg-6 order-sml-1 order-lrg-2">
                <img alt="The Donors' Fund Card and Check" class="u-display--b u-align--h--center " src="/assets/img/card-check.jpg" />
            </div> 
           
        </div>
    </div>
</section>