<section role="region" class="section--sml section--primary">
    <div class="container">
        <div class="row row-align-center">
            <div class="col col-sml-12 col-lrg-6">
                <img alt="The Donors' Fund Compass" class="" src="/assets/img/compass.png" />
            </div>
            <div class="col col-sml-12 col-lrg-6">
                <h5 class="u-mar--bottom--med">History</h5>
                <h3 class="u-mar--bottom--sml type--color--negative">Causing charity.</h3>
                <p class="u-mar--bottom--sml w--text--90 type--center--to--med">We recognized early on that despite donors' best intentions,
                charity wasn't a given: transactional limitations, red tape, and
                administrative hassle severely impacted the giving experience.</p>

                <p class="w--text--90 type--center--to--med">To help donors break free and make giving more rewarding,
                our team of philanthropic and finance executives created
                <strong>the definitive "giving company", offering the latest in giving
                technologies, charitable insights, DAF accounts, and more.</strong>
                </p>
            </div>
        </div>
    </div>
</section>