<section role="region" class="section--sml">
    <div class="container container--med">
        <div class="u-mar--bottom--med">
            <div class="row">
                <div class="col col-sml-12 col-lrg-8">
                    <h5 class="u-mar--bottom--med">Who We Are</h5>
                    <h3 class="u-mar--bottom--sml">Champions of the donor. <br class="u-hide--to--lrg">Allies of the good cause.</h3>
                    <p class="u-hide--to--lrg u-mar--bottom--sml">The Donor's Fund leadership represents a cross-section of for-profit and nonprofit veterans who are invested in making charity go round.</p>
                    <p class="u-hide--to--lrg u-mar--bottom--med">By wholeheartedly supporting generous donors, we help them fund the causes that mean the most to them, while simultaneously making the world a better place.</p>
                </div>
            </div>
        </div>


        <div class="row u-hide--to--med row--align--center">
            <div class="col col-sml-12 col-lrg-6 col-xlrg-4 type--center">
                <div class="card--team">
                    <div class="card--team__img u-mar--bottom--sml">
                        <img alt="The Donors' Fund Board - Aron Schlesinger" class="" src="/assets/img/people/aron-schlesinger.jpg">
                    </div>
                    <h3 class="card--team__title">Aron Schlesinger</h3>
                    <p class="u-mar--bottom--sml">Director</p>
                </div>
            </div>
            
            <div class="col col-sml-12 col-lrg-6 col-xlrg-4 type--center">
                <div class="card--team">
                    <div class="card--team__img u-mar--bottom--sml">
                        <img alt="The Donors' Fund Board - Yakov Travis" class="" src="/assets/img/people/yakov-travis.jpg">
                    </div>
                    <h3 class="card--team__title">Yakov Travis</h3>
                    <p class="u-mar--bottom--sml">COO</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-6 col-xlrg-4 type--center">
                <div class="card--team">
                    <div class="card--team__img u-mar--bottom--sml">
                        <img alt="The Donors' Fund Board - Ari Luss" class="" src="/assets/img/people/ari-luss.jpg">
                    </div>
                    <h3 class="card--team__title">Ari Luss</h3>
                    <p class="u-mar--bottom--sml">CTO</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-6 col-xlrg-4 type--center">
                <div class="card--team">
                    <div class="card--team__img u-mar--bottom--sml">
                        <img alt="The Donors' Fund Board - Chany Altman" class="" src="/assets/img/people/chany-altman.jpg">
                    </div>
                    <h3 class="card--team__title">Chany Altman</h3>
                    <p class="u-mar--bottom--sml">Charity Liaison</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-6 col-xlrg-4 type--center">
                <div class="card--team">
                    <div class="card--team__img u-mar--bottom--sml">
                        <img alt="The Donors' Fund Board - Simi Brunner" class="" src="/assets/img/people/charity-altman.jpg">
                    </div>
                    <h3 class="card--team__title">Simi Brunner</h3>
                    <p class="u-mar--bottom--sml">Charity Liaison</p>
                </div>
            </div>
           
        </div>
        <div class="u-hide--from--med u-position--rel">
            <div class="js-carousel-team slick--default">
                <div class="type--center">
                    <div class="card--team">
                        <div class="card--team__img u-mar--bottom--sml">
                            <img alt="The Donors' Fund Board - Aron Schlesinger" class="" src="/assets/img/people/aron-schlesinger.jpg">
                        </div>
                        <h3 class="card--team__title">Aron Schlesinger</h3>
                        <p class="u-mar--bottom--sml">Director</p>
                    </div>
                </div>
                <div class="type--center">
                    <div class="card--team">
                        <div class="card--team__img u-mar--bottom--sml">
                            <img alt="The Donors' Fund Board - Yakov Travis" class="" src="/assets/img/people/yakov-travis.jpg">
                        </div>
                        <h3 class="card--team__title">Yakov Travis</h3>
                        <p class="u-mar--bottom--sml">COO</p>
                    </div>
                </div>

                <div class="type--center">
                    <div class="card--team">
                        <div class="card--team__img u-mar--bottom--sml">
                            <img alt="The Donors' Fund Board - Ari Luss" class="" src="/assets/img/people/ari-luss.jpg">
                        </div>
                        <h3 class="card--team__title">Ari Luss</h3>
                        <p class="u-mar--bottom--sml">CTO</p>
                    </div>
                </div>
               
                <div class="type--center">
                    <div class="card--team">
                        <div class="card--team__img u-mar--bottom--sml">
                            <img alt="The Donors' Fund Board - Chany Altman" class="" src="/assets/img/people/chany-altman.jpg">
                        </div>
                        <h3 class="card--team__title">Chany Altman</h3>
                        <p class="u-mar--bottom--sml">Charity Liaison</p>
                    </div>
                </div>
                <div class="type--center">
                    <div class="card--team">
                        <div class="card--team__img u-mar--bottom--sml">
                            <img alt="The Donors' Fund Board - Charity Altman" class="" src="/assets/img/people/charity-altman.jpg">
                        </div>
                        <h3 class="card--team__title">Charity Altman</h3>
                        <p class="u-mar--bottom--sml">Charity Liaison</p>
                    </div>
                </div>
                
            </div>
            <div class="numbers__nav">
                <div class="js-carousel-next-4 numbers__nav--next">
                    <i class="u-icon u-icon--med u-icon--c-arrow-right"></i>
                </div>
                <div class="js-carousel-prev-4 numbers__nav--prev">
                    <i class="u-icon u-icon--med u-icon--c-arrow-left"></i>
                </div>
            </div>
        </div>
    </div>
</section>