<section role="region" class="section--sml section--enh">
    <div class="container">
        <div class="u-mar--bottom--med">
            <h5 class="u-mar--bottom--med">Board</h5>
            <h3 class="u-mar--bottom--sml">Our Governing Body</h3>
        </div>

        <div class="row">
            <div class="col col-sml-12 col-lrg-3 type--center">
                <div class="card--team card--team--negative">
                    <img alt="The Donors' Fund Board" class="card--team__img  u-mar--bottom--sml" src="/assets/img/Jim-Graham.png">
                    <h3 class="card--team__title">Mordy Schron</h3>
                    <p class="u-mar--bottom--sml">Chief Information Officer</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-3 type--center">
                <div class="card--team card--team--negative">
                    <img alt="The Donors' Fund Board" class="card--team__img  u-mar--bottom--sml" src="/assets/img/Jim-Graham.png">
                    <h3 class="card--team__title">Mordy Schron</h3>
                    <p class="u-mar--bottom--sml">Chief Information Officer</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-3 type--center">
                <div class="card--team card--team--negative">
                    <img alt="The Donors' Fund Board" class="card--team__img  u-mar--bottom--sml" src="/assets/img/Jim-Graham.png">
                    <h3 class="card--team__title">Mordy Schron</h3>
                    <p class="u-mar--bottom--sml">Chief Information Officer</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-3 type--center">
                <div class="card--team card--team--negative">
                    <img alt="The Donors' Fund Board" class="card--team__img  u-mar--bottom--sml" src="/assets/img/Jim-Graham.png">
                    <h3 class="card--team__title">Mordy Schron</h3>
                    <p class="u-mar--bottom--sml">Chief Information Officer</p>
                </div>
            </div>
        </div>
    </div>
</section>