<section class="section--sml" role="banner">
    <div class="container--split">
        <div class="container--split--left">
            <div class="container--split__text">
                <h5 class="u-mar--bottom--med">Mission</h5>
                <h2 class="u-mar--bottom--sml">You do the giving, <br>we do the everything else.</h2>
                 <div class="type--center--to--med">
                    <p class="u-mar--bottom--sml w--text--70">The Donor's Fund is on a mission to return the autonomy, ease, joy and fulfillment of direct giving.</p>
                    <p class="u-mar--bottom--sml w--text--90">We empower donors of every size with breakthrough financial tools, granting formats, self-service technologies, and lower fee structures-in addition to all inherent Donor Advised Funds benefits-reconnecting you with what you really care about: charitable causes and decisive donations.</p>
                    <p class="u-mar--bottom--sml w--text--90"><strong>This enables you to be as strategic and entrepreneurial with your giving as you are with your earning.</strong> The result is more frequent grantmaking, in more scenarios, to more of your favorite charities, for greater charitable impact.</p>
                    <p>That's how we set you <a class="anchor--secondary" href="/">Free to give<sup>TM</sup></a>.</p>
                </div>
            </div>
        </div>
        <div class="container--split--right">
            <img alt="The Donors' Fund About" class="container--split__img" src="/assets/img/about.png" />
        </div>
    </div>
</section>