<section role="region" class="section--sml">
    <div class="container">
        <div class="row">
            <div class="col col-sml-12 col-lrg-6">
                <h5 class="u-mar--bottom--med">Oversight and Guvernance</h5>
                <h3 class="u-mar--bottom--sml">Accountable to our donors,<br class="u-hide--to--xlrg"> in every cent of the word</h3>
                <p class="u-mar--bottom--med w--text--90 u-hide--to--lrg">
                    Part of our mission to set you Free to give<sup>TM</sup> includes<br class="u-hide--to--lrg">
our obsessive commitment to transparency and<br class="u-hide--to--lrg">
accountability. We invite your questions and inquiries

                </p>
               
                <a href="/contact.html" class="btn btn--base btn--primary u-hide--to--lrg">Contact Us</a> 
            </div>
            <div class="col col-sml-12 col-lrg-6">
                
                <ul class="list--clickable">
                    <li class="js-clickable">
                        <div class="list--clickable__header">
                            <div class="list--clickable__title">Financial statement</div>
                            <div class="btn--expand u-mar--left--auto">
                                <i class="icon--plus"></i>
                            </div>
                        </div>
                        <div class="list--clickable__body">
                            <a href="/assets/documents/2017-&-2018.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>2017 combined with 2018.pdf</div>
                            </a>
                            <a href="/assets/documents/2019.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>2019.pdf</div>
                            </a>
                        </div>
                    </li>
                </ul>

                <ul class="list--clickable">
                    <li class="js-clickable">
                        <div class="list--clickable__header">
                            <div class="list--clickable__title">Certificate of Annual report</div>
                            <div class="btn--expand u-mar--left--auto">
                                <i class="icon--plus"></i>
                            </div>
                        </div>
                        <div class="list--clickable__body">
                            <a href="/assets/documents/Certificate-of-Annual-Report---2018.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>2018.pdf</div>
                            </a>
                            <a href="/assets/documents/Certificate-of-Annual-Report---2019.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>2019.pdf</div>
                            </a>
                            <a href="/assets/documents/Certificate-of-Annual-Report---2020.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>2020.pdf</div>
                            </a>
                        </div>
                    </li>
                </ul>

                <ul class="list--clickable">
                    <li class="js-clickable">
                        <div class="list--clickable__header">
                            <div class="list--clickable__title">Form 990</div>
                            <div class="btn--expand u-mar--left--auto">
                                <i class="icon--plus"></i>
                            </div>
                        </div>
                        <div class="list--clickable__body">
                            <a href="/assets/documents/2016-Form-990-Filing.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>2016.pdf</div>
                            </a>
                            <a href="/assets/documents/2017-Form-990-Filing.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>2017.pdf</div>
                            </a>
                            <a href="/assets/documents/2018-Form-990-Filing.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>2018.pdf</div>
                            </a>
                            <a href="/assets/documents/990-2019.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>2019.pdf</div>
                            </a>
                        </div>
                    </li>
                </ul>

                <ul class="list--clickable">
                    <li class="js-clickable">
                        <div class="list--clickable__header">
                            <div class="list--clickable__title">Literature</div>
                            <div class="btn--expand u-mar--left--auto">
                                <i class="icon--plus"></i>
                            </div>
                        </div>
                        <div class="list--clickable__body">
                            <a href="/assets/documents/Determination-Letter.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>Determination letter.pdf</div>
                            </a>
                            <a href="/assets/documents/Certificate-of-Inc.pdf" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>Certificate of Inc.pdf</div>
                            </a>
                            <a href="/assets/documents/Cert-of-Good-Standing.PDF" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>Certificate of Good standing.pdf</div>
                            </a>
                            <a href="/guidelines.html" target="_blank" class="list--clickable__link w--100">
                                <i class="icon--download"></i>
                                <div>Policies and Guidelines</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>