<div class="popup__overlay js-popup" style="display: none">
    <div class="popup">
        <div class="popup__close js-popup-close"></div>
         <div class="type--center">
            <h5 class="u-mar--bottom--sml">Beyond Compare</h5>
            <h4 class="u-mar--bottom--sml">Better than private foundation</h4>
         </div>
         <div>
            <div class="popup__compare">
                <div class="popup__compare__item">
                    <div class="card--compare card--compare--secondary">
                        <h4 class="card--compare__title u-mar--bottom--med type--color--secondary">The Donors' Fund</h4>
                        <ul class="list--checked list--checked--sml type--wgt--regular type--xsml">
                            <li><span>No mandated annual distribution minimum</span></li>
                            <li><span>Automatic donation tracking + single receipt</span></li>
                            <li><span>No administrative, accounting, or legal fees</span></li>
                            <li><span>Account & holdings information remains private</span></li>
                            <li><span>Contributions deductible up to 60% of AGI</span></li>
                            <li><span>Deduct full fair market value of donated assets</span></li>
                            <li><span>Invested funds grow 100% tax-free</span></li>
                        </ul>
                    </div>
                </div>
                <div class="popup__compare__item">
                    <div class="card--compare card--compare--primary">
                        <h4 class="card--compare__title u-mar--bottom--med">Private Foundations</h4>
                        <ul class="list--checked list--checked--sml list--checked--neg type--wgt--regular type--xsml">
                            <li><span>Minimum annual distribution of 5%</span></li>
                            <li><span>Requires you to track and store every receipt</span></li>
                            <li><span>Incurs numerous accounting and legal costs</span></li>
                            <li><span>Must publicly publish your financial information</span></li>
                            <li><span>Limits deductibility to 30% of annual income</span></li>
                            <li><span>Deduct only your cost basis of donated assets</span></li>
                            <li><span>Investment income is taxable at up to 2%</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>