<section class="section--top" role="banner">
    <div class="container--split">
        <div class="container--split--left">
            <div class="container--split__text">
                <h1 class="u-mar--bottom--sml">Facilitating giving <br>is our original cause</h1>
                <p class="u-mar--bottom--lrg w--text--91 type--center--to--med">
                    The Donor's Fund is the charity director's most valuable ally.<br class="u-hide--to--lrg">
                    By setting donors free, we exponentially increase total <strong>giving.</strong><br class="u-hide--to--lrg">
                    By arming charities, we exponentially increase total <strong>revenues.</strong>
                </p>
                
                <div>
                    <a class="btn btn--base btn--primary" href="/create-account.html">Open a Charity Account</a>
                </div>
            </div>
        </div>
        <div class="container--split--right">
            <img alt="The Donors' Fund Charity" class="container--split__img" src="/assets/img/charity.png" />
        </div>
    </div>
</section>