<section role="region" class="section--sml section--primary">
    <div class="container">
        <div class="row u-mar--bottom--lrg">
            <div class="col col-sml-12 col-lrg-7">
                <h5 class="u-mar--bottom--med">Online portal</h5>
                <h3 class="u-mar--bottom--sml type--color--negative">A resource that makes you<br class="u-hide--to--lrg"> a more resourceful charity</h3>
            </div>
            
            <div class="col col-sml-12 col-lrg-6">
                <ul class="list--expandable js-expandables">
                    <li id="list-1" class="list--expandable__item is-expanded">
                        <div class="list--expandable__title">Process the Giving Card</div>
                        <div class="list--expandable__copy w--100">
                            directly on our online terminal
                        </div>
                    </li>

                    <li id="list-2" class="list--expandable__item">
                        <div class="list--expandable__title">Print custom QR codes</div>
                        <div class="list--expandable__copy w--100">
                            on your campaign materials
for easy, contactless grants

                        </div>
                    </li>

                    <li id="list-3" class="list--expandable__item">
                        <div class="list--expandable__title">Remote check deposit</div>
                        <div class="list--expandable__copy w--100">
                            with digital capture right
in your TDF dashboard

                        </div>
                    </li>

                    <li id="list-4" class="list--expandable__item">
                        <div class="list--expandable__title">Fundraising website API</div>
                        <div class="list--expandable__copy w--100">
                            allows donors to make donations at 
the press of a button (as simple as PayPal)

                        </div>
                    </li>
                    <li id="list-5" class="list--expandable__item">
                        <div class="list--expandable__title">CampaignConnect<sup>TM</sup> plugin</div>
                        <div class="list--expandable__copy w--100">
                            funnels donations from fundraising
platforms such as Rayze.it

                        </div>
                    </li>
                    <li id="list-6" class="list--expandable__item">
                        <div class="list--expandable__title">Rich, custom profile page</div>
                        <div class="list--expandable__copy w--100">
                            educate your donors with your logo, mission,
images, videos, and other insights

                        </div>
                    </li>
                    <li id="list-7" class="list--expandable__item">
                        <div class="list--expandable__title">Send pledge reminders</div>
                        <div class="list--expandable__copy w--100">
                            with custom grant requests through our
Zelle&reg;-like peer-to-peer payment system

                        </div>
                    </li>
                    
                </ul>
            </div>
            <div id="graphic" class="col col-sml-12 col-lrg-6 u-hide--to--med">
                <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img  list-7" src="/assets/img/laptop-d-1.jpg">
                <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-1 is-visible" src="/assets/img/laptop-d-2.jpg">
                <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-3" src="/assets/img/laptop-d-3.jpg">
                <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-4" src="/assets/img/laptop-d-5.jpg">
                <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-5" src="/assets/img/laptop-d-5.jpg">
                <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-6" src="/assets/img/laptop-d-6.jpg">
                <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-2" src="/assets/img/laptop-d-7.jpg">
            </div>
        </div>

        <div class="type--center">
            <a href="/create-account.html" class="btn btn--base btn--neutral">Open a charity account</a> 
        </div>
    </div>
</section>