<section role="region" class="section--sml section--feat">
    <div class="container">
        <div class="row row-align-center">
            <div class="col col-sml-12 col-lrg-6 order-sml-2 order-lrg-1">
                <h3 class="u-mar--bottom--sml">More donors. More avenues. <br>More revenue.</h3>
                <div class="type--center--to--med">
                    <a href="/create-account.html" class="btn btn--base btn--primary u-mar--bottom--med">Open a charity account</a> 
                </div>
                <p class="u-mar--bottom--sml u-hide--to--lrg">Want to learn more about how<br>
we serve charities? Speak with<br>
one of our dedicated advisors:
</p>
                <a class="u-anchor--secondary u-hide--to--lrg" href="/contact.html">Schedule a call</a>
            </div>
            <div class="col col-sml-12 col-lrg-6 order-sml-1 order-lrg-2">
                <img alt="The Donors' Fund Wallet" class="u-display--b u-align--h--center " src="/assets/img/wallet.jpg" />
            </div>
        </div> 
    </div>
</section>