<section role="region" class="section--sml">
    <div class="container">
        <div class="row u-mar--bottom--lrg">
            <div class="col col-sml-12 col-lrg-8 col-xlrg-6 col-push-lrg-2 col-push-xlrg-3 type--center">
                <h5 class="u-mar--bottom--med">Key Benefits</h5>
                <h3 class="u-mar--bottom--sml">Get more out<br> of all the giving</h3>
                <p class="u-mar--bottom--lrg">Discover more powerfull fundraising, all at the same processing fees provided by payment merchants.</p>
            </div>
            <div id="graphics" class="col col-sml-12 col-lrg-6 u-hide--to--med">
               <img alt="The Donors' Fund Key" class="section__img--med u-align--h--center list--expandable__img  is-visible list-1" src="/assets/img/key.jpg">
               <img alt="The Donors' Fund Key" class="section__img--med u-align--h--center list--expandable__img list-2" src="/assets/img/key-2.jpg">
               <img alt="The Donors' Fund Key" class="section__img--med u-align--h--center list--expandable__img list-3" src="/assets/img/golden-egg.jpg">
               <img alt="The Donors' Fund Key" class="section__img--med u-align--h--center list--expandable__img list-4" src="/assets/img/cage-2.jpg">
               <img alt="The Donors' Fund Key" class="section__img--med u-align--h--center list--expandable__img list-5" src="/assets/img/key-3.jpg">
            </div>
            <div class="col col-sml-12 col-lrg-6">
                <ul class="list--expandable js-expandable">
                    
                    <li id="list-1" class="list--expandable__item is-expanded">
                        <div class="list--expandable__title">Many more ways to get</div>
                        <div class="list--expandable__copy w--100">
                            <ul class="list--checked list--checked--two-col">
                                <li><span>Online portal</span></li>
                                <li><span>Mobile app - Coming Soon</span></li>
                                <li><span>Giving Card</span></li>
                                <li><span>Prefilled Checks</span></li>
                                <li><span>Charity Websites</span></li>
                                <li><span>By Phone</span></li>
                                <li><span>Contactless QR Codes</span></li>
                                <li><span>RE & Other Assets</span></li>
                                <li><span>Profile Page in our Charitdata<sup>TM</sup> Database</span></li>
                            </ul>   
                        </div>
                    </li>
                    <li id="list-2" class="list--expandable__item">
                        <div class="list--expandable__title">Next-day funding direct to your bank</div>
                        <div class="list--expandable__copy w--100">
                            <p>Get your funds up to 4x faster by signing<br> 
                            up for ACH direct deposit. </p>
                        </div>
                    </li>

                     <li id="list-3" class="list--expandable__item">
                        <div class="list--expandable__title">Accept all forms of assets</div>
                        <div class="list--expandable__copy w--100">
                            <p>Now accept complex assets including<br>
stocks, cars, collectibles, and more.
</p>
                        </div>
                    </li>

                     <li id="list-4" class="list--expandable__item">
                        <div class="list--expandable__title">Zero administrative burden</div>
                        <div class="list--expandable__copy w--100">
                            <p>
                                We keep you free to focus on your<br>
charity, not on donations. No need<br>
to send receipts or track donors.

                            </p>
                        </div>
                    </li>

                    <li id="list-5" class="list--expandable__item">
                        <div class="list--expandable__title">Managed Investment Accounts</div>
                        <div class="list--expandable__copy w--100">
                            <p class="u-mar--bottom--sml">
                                Grow your sitting funds with professionally<br>
managed investment portfolios, ranging<br>
from conservative to aggressive.

                            </p>
                            <a href="/investments.html#portfolios" class="u-anchor--primary">View Investment Pools</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="type--center">
            <a href="/create-account.html" class="btn btn--base btn--primary">Open an Account Today</a> 
        </div>

        </div>
    </div>
</section>