
<section role="region" class="section--sml">
    <div class="container">
        <div class="row row-align-center">
            <div class="col col-sml-12 col-lrg-6">
                <img alt="The Donors' Fund Rocket" class="u-display--b u-align--h--center " src="/assets/img/rocket.jpg" />
            </div>
            <div class="col col-sml-12 col-lrg-6">
                <p class="u-mar--bottom--sml">Processing fees</p>
                <div class="row">
                    <div class="col col-sml-12 col-lrg-8">
                         <ul class="card--compare__list type--sml type--wgt--regular type--color--primary">
                            <li>
                                <div class="list-group">
                                    <div class="type--wgt--regular">Online Grants</div>
                                    <div class="u-mar--left--auto"><span class="card--compare__free">Free</span></div>
                                </div>
                            </li>
                            <li>
                                <div class="list-group">
                                    <div class="type--wgt--regular">QR Codes</div>
                                    <div class="u-mar--left--auto">2.9%</div>
                                </div>
                            </li>
                                <li>
                                <div class="list-group">
                                    <div class="type--wgt--regular">Charity Website</div>
                                    <div class="u-mar--left--auto">2.9%</div>
                                </div>
                            </li>
                                <li>
                                <div class="list-group">
                                    <div class="type--wgt--regular">Campaign Connect</div>
                                    <div class="u-mar--left--auto">2.9%</div>
                                </div>
                            </li>
                            <li>
                                <div class="list-group">
                                    <div class="type--wgt--regular">Check</div>
                                    <div class="u-mar--left--auto">2.9%</div>
                                </div>
                            </li>

                            <li>
                                <div class="list-group">
                                    <div class="type--wgt--regular">Giving Card</div>
                                    <div class="u-mar--left--auto">2.9%</div>
                                </div>
                            </li>
                            <li>
                                <div class="list-group">
                                    <div class="type--wgt--regular">Grant Request</div>
                                    <div class="u-mar--left--auto">2.9%</div>
                                </div>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>