<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>


    <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- keep width for all viewport sizes -->

    <%= require('html-loader!../partials/header.html') %>

    
    <main class="main" role="main">
    <section class="section--med">
        <div class="container">
        <h3 class="u-mar--bottom--sml">
            Privacy policy
        </h3>
        <h5 class="type--color--primary u-mar--bottom--sml type--primary">
            Introduction
        </h5>
        <div class="u-mar--bottom--sml">
            <div class="u-mar--bottom--sml">
                The Donors' Fund is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this Web site, then you can be assured that it will only be used in accordance with this privacy statement.
            </div>
            <div>
                The Donors' Fund may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from July 1st, 2017.
            </div>
        </div>
        <h5 class="type--color--primary u-mar--bottom--sml type--primary">
            What we collect
        </h5>
        <div class="u-mar--bottom--sml">
            We may collect the following information: - user's first and last name - contact information including email address
        </div>
        <h5 class="type--color--primary u-mar--bottom--sml type--primary">
            What we do with the information we gather
        </h5>
        <div class="u-mar--bottom--sml">
            We require this information to understand your needs and provide you with a better service, and in particular for the following reasons: - Internal record keeping. - We may use the information to improve our services. - We may periodically send newsletters to the e-mail address provided, but only if you explicitly agree to receive such materials. We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect on-line.
        </div>
        <h5 class="type--color--primary u-mar--bottom--sml type--primary">
            How we use cookies
        </h5>
        <div class="u-mar--bottom--sml">
            <div class="u-mar--bottom--sml">
                A <span class="type--italic">cookie</span> is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
            </div>
            <div class="u-mar--bottom--sml">
                We use traffic log cookies to identify which pages are being used. This helps us analyze data about webpage traffic and improve our Web site in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.
            </div>
            <div class="u-mar--bottom--sml">
                Overall, cookies help us provide you with a better Web site, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.
            </div>
            <div>
                You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the Web site.
            </div>
        </div>
        <h5 class="type--color--primary u-mar--bottom--sml type--primary">
            Links to other Web sites
        </h5>
        <div class="u-mar--bottom--sml">
            Our Web site may contain links to other Web sites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other Web site. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the Web site in question.
        </div>
        <h5 class="type--color--primary u-mar--bottom--sml type--primary">
            Controlling your personal information
        </h5>
        <div class="u-mar--bottom--sml">
            You may choose to restrict the collection or use of your personal information in the following ways: - whenever you are asked to fill in a sign-in form on the Web site, look for the box that you can click to indicate that you do not want to receive newsletters from us. - if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time changing the preference on the user profile page.
        </div>
        <div class="u-mar--bottom--sml type--italic">
            We will not sell, distribute or lease your personal information to third parties under any circumstances.
        </div>
        <div class="u-mar--bottom--sml">
            You may request details of personal information which we hold about you. A small fee will be payable. If you would like a copy of the information held on you please contact us using the Contact form on this site.
        </div>
        <div>
            If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible. We will promptly correct any information found to be incorrect.
        </div>
    </div>
    </section>
    <%= require('html-loader!../partials/footer.html') %>
    </main>
    

    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>

    <% } %>
</body>
</html>