<section role="region" class="section--sml section--feat">
    <div class="container">
        <div class="row row-align-center">
             
            <div class="col col-sml-12 col-lrg-6">
                <h3 class="u-mar--bottom--sml">Make your first investment:<br class="u-hide--to--lrg"> join The Donors' Fund today</h3>
                 <div class="type--center--to--med">
                    <a href="/create-account.html" class="btn btn--base btn--primary u-mar--bottom--med">Open a giving account</a> 
                </div>
                <p class="u-hide--to--lrg type--sml">Want to learn more about<br>
Growth Giving<sup>TM</sup>? Speak with<br>
one of our investing advisors:
</p>
                <div class="type--center--to--med">
                    <a class="u-anchor--secondary u-hide--to--lrg" href="/contact.html">Schedule a call</a>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-6 u-hide--to--med">
                <img alt="The Donors' Fund Plant" class="u-display--b u-align--h--center " src="/assets/img/plant.jpg" />
            </div> 
           
        </div>
    </div>
</section>