<section role="region" class="section--sml">
    <div class="container">
        <div class="row">
            <div class="col col-sml-12 col-lrg-8 col-xlrg-8 col-push-lrg-2 col-push-xlrg-2 type--center">
                <h5 class="u-mar--bottom--med">Investment Benefits</h5>
                <h3 class="u-mar--bottom--med">More change from every dollar<br class="u-hide--to--lrg"> with the give-grow-grant equation</h3>
            </div>
        </div>
        <div id="graphics" class="row row-align-center">
                <div class="col col-sml-12 col-lrg-6 u-hide--to--med">
                    <img alt="The Donors' Fund Graph" class="section__img--med u-align--h--center list--expandable__img  list-1 is-visible" src="/assets/img/graph-homepage-1.jpg">
                    <img alt="The Donors' Fund Graph" class="section__img--med u-align--h--center list--expandable__img list-2" src="/assets/img/graph-homepage-2.jpg">
                    <img alt="The Donors' Fund Graph" class="section__img--med u-align--h--center list--expandable__img list-3" src="/assets/img/graph-homepage-3.jpg">
                    <img alt="The Donors' Fund Graph" class="section__img--med u-align--h--center list--expandable__img list-4" src="/assets/img/graph-homepage-4.jpg">
                    <img alt="The Donors' Fund Graph" class="section__img--med u-align--h--center list--expandable__img list-5" src="/assets/img/graph-homepage-5.jpg">
                </div>
                <div class="col col-sml-12 col-lrg-6">
                    <ul class="list--expandable list--expandable--white js-expandable">
                       
                        <li id="list-1" class="list--expandable__item is-expanded">
                             <div class="list--expandable__title">Tax-Free Funding</div>
                            <div class="list--expandable__copy">
                                <p>
                                    Your funds go in <strong>tax deductible,</strong>
grow <strong>tax-free,</strong> and are distributed
<strong>tax-free</strong> to the charities you choose.
                                </p>
                            </div>
                        </li>
                        <li id="list-2" class="list--expandable__item">
                             <div class="list--expandable__title">Select your exposure level</div>
                            <div class="list--expandable__copy">
                                Place your funds across different
investment portfolios ranging from
most conservative to most aggressive:

                            </div>
                        </li>
                        <li id="list-3" class="list--expandable__item">
                             <div class="list--expandable__title">Funds managed by giants</div>
                            <div class="list--expandable__copy">
                                Management by leading financial
institutions helps reduce risk and promote
growth, leaving you with more to give.

                            </div>
                        </li>
                        <li id="list-4" class="list--expandable__item">
                             <div class="list--expandable__title">Lowest Investment Minimums</div>
                            <div class="list--expandable__copy">
                                Begin your Growth Giving<sup>TM</sup> journey small,
or spread your invested funds across more
portfolios with a low minimum of $500.

                            </div>
                        </li>
                         <li id="list-5" class="list--expandable__item">
                            <div class="list--expandable__title">Individualized Portfolio <div class="pill pill--secondary pill--sml pill--inline">Private Client Exclusive</div></div>
                            <div class="list--expandable__copy">
                                As a private client, you have the power
to choose, transition, and grow your accounts
in the way that works best for you. 

                            </div>
                        </li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>