<section role="region" class="section--med section--enh">
    <div class="container">
        <div class="row">
            <div class="col col-sml-12 col-lrg-8 col-xlrg-6 col-push-lrg-2 col-push-xlrg-3 type--center">
                <h5 class="u-mar--bottom--med">How It Works</h5>
                <h3 class="u-mar--bottom--med">Seamless two-way bridge<br class="u-hide--to--lrg"> between investing and giving</h3>
            </div>
        </div>

        <!-- Large screens -->
        <div class="row row-align-center u-hide--to--med u-mar--bottom--lrg">
            <div class="col col-sml-12 col-lrg-6 col-xlrg-3 numbered">
                <div class="numbered__item">
                    <div class="numbered__number">1</div>
                    <p><span class="type--color--secondary">Open</span> a general giving account with The Donor's Fund</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-6 col-xlrg-3 numbered">
                <div class="numbered__item">
                    <div class="numbered__number">2</div>
                    <p><span class="type--color--secondary">Transfer</span> funds from your giving account to portfolio(s) you prefer</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-6 col-xlrg-3 numbered">
                <div class="numbered__item">
                    <div class="numbered__number">3</div>
                    <p><span class="type--color--secondary">Log in</span> for daily performance updates or to update allocations</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-6 col-xlrg-3 numbered">
                <div class="numbered__item">
                    <div class="numbered__number">4</div>
                    <p><span class="type--color--secondary">Grant</span> as usual by transferring funds back to your general account</p>
                </div>
            </div>
        </div>
        <p class="type--center">
            No wait periods.
No annual transfer limits.<br class="u-hide--to--lrg">
You're Free to give<sup>TM</sup> as often
and as generously as you like.

        </p>

        <!-- Small screens -->
        <div class="u-position--rel">
            <div class="js-carousel-numbers u-hide--from--med slick--default">
                <div class="numbered">
                    <div class="numbered__item">
                        <div class="numbered__number">1</div>
                        <p><span class="type--color--secondary">Open</span> a general giving account with The Donor's Fund</p>
                    </div>
                </div>
                <div class="numbered">
                    <div class="numbered__item">
                        <div class="numbered__number">2</div>
                        <p><span class="type--color--secondary">Transfer</span> funds from your giving account to portfolio(s) you prefer</p>
                    </div>
                </div>
                <div class="numbered">
                    <div class="numbered__item">
                        <div class="numbered__number">3</div>
                        <p><span class="type--color--secondary">Log in</span> for daily performance updates or to update allocations</p>
                    </div>
                </div>
                <div class="numbered">
                    <div class="numbered__item">
                        <div class="numbered__number">4</div>
                        <p><span class="type--color--secondary">Grant</span> as usual by transferring funds back to your general account</p>
                    </div>
                </div>
            </div>
            <div class="numbers__nav">
                <div class="js-carousel-next-4 numbers__nav--next">
                    <i class="u-icon u-icon--med u-icon--c-arrow-right"></i>
                </div>
                <div class="js-carousel-prev-4 numbers__nav--prev">
                    <i class="u-icon u-icon--med u-icon--c-arrow-left"></i>
                </div>
            </div>
        </div>
    </div>
</section>