<section class="section--med" role="banner">
    <div class="container--split">
        <div class="container--split--left">
            <div class="container--split__text">
                <h1 class="u-mar--bottom--sml"><span class="type--nowrap type--nowrap--fix">Growth Giving<sup>TM</sup></span></h1>
                <p class="u-mar--bottom--sml">Our investment portfolios empower you<br class="u-hide--to--lrg">
                to grow your funds tax-free. So you can<br class="u-hide--to--lrg">
                give even more when you're ready.</p>
                <div>
                    <a class="btn btn--base btn--primary" href="#portfolios">View Portfolios</a> 
                </div>
            </div>
        </div>
        <div class="container--split--right">
            <img alt="The Donors' Fund Investments" class="container--split__img" src="/assets/img/investments.png" />
        </div>
    </div>
</section>