<section id="portfolios" role="region" class="section--med type--wgt--regular">
    <div class="container">
        <div class="row">
            <div class="col col-sml-12 col-lrg-8 col-xlrg-6 col-push-lrg-2 col-push-xlrg-3 type--center">
                <h3 class="u-mar--bottom--lrg">Investments Pools</h3>
            </div>
        </div>
        <div class="u-position--rel">
        <div class="js-carousel-pools">
        <div class="pool card--white u-mar--bottom--lrg">
            <div class="pool__flex">
                <h2 class="pool__title">
                   
                        Conservative Income pool

                </h2>
                 <div class="u-mar--left--auto">
                    <img src="/assets/img/hero/M-logo.png" title="TDF's Merrill logo" class="pool__logo__img"/>
                </div>
            </div>
            <div class="pool__meta u-mar--bottom--sml">
                <div class="pool__meta__item">
                    <div class="pill pill--secondary pill--med">Short Term Growth</div>
                </div>
                <div class="pool__meta__item is-spacer">
                    |
                </div>
                <div class="pool__meta__item">
                    <div class="u-display--ib type--color--secondary">EXP. ratio 0.79%</div>
                </div>
            </div>
            <div class="row pool__wrap">
                <div class="col col-sml-12 col-lrg-6 col-xlrg-2 pool__section has-divider u-hide--to--med">
                    <img alt="The Donors' Fund Donut Graph" class="u-display--b u-align--h--center pool__chart" src="/assets/img/donut-1.svg" />
                </div>

                <div class="col col-sml-12 col-lrg-6 col-xlrg-3 pool__section has-divider">
                    <div class="u-mar--bottom--sml">Asset allocation</div>
                    <ul class="pool__list">
                        <li>
                            <div class="pool__marker pool__marker--primary"></div>
                            <div class="type--color--primary">Fixed Income</div>
                            <div class="pool__list__percentage">52%</div>
                        </li>
                        <li>
                            <div class="pool__marker pool__marker--secondary"></div>
                            <div class="type--color--primary">Cash</div>
                            <div class="pool__list__percentage">18%</div>
                        </li>
                        <li>
                            <div class="pool__marker pool__marker--tertiary"></div>
                            <div class="type--color--primary">Equity</div>
                            <div class="pool__list__percentage">30%</div>
                        </li>
                    </ul>
                </div>
                <div class="col col-sml-12 col-lrg-6 col-xlrg-3 pool__section has-border">
                    <div class="u-mar--bottom--sml">Risk</div>
                    <img alt="The Donors' Fund Graph" class="u-display--b u-align--h--center pool__chart" src="/assets/img/graph-1.svg" />
                </div>

                <div class="col col-sml-12 col-lrg-6 col-xlrg-4 pool__section">
                    <div class="u-mar--bottom--sml">Performance (annual average)</div>

                    <table class="pool__table">
                        <tr>
                            <td>
                                Inception:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                5.96%
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                5 year:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                5.84%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1 year:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                9.65%
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                Q3:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                2.71%
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="pool card--white u-mar--bottom--lrg">
            <div class="pool__flex">
                <h2 class="pool__title">

                        Balance and growth pool

                </h2>
                <div class="u-mar--left--auto">
                    <img src="/assets/img/hero/M-logo.png" title="TDF's Merrill logo" class="pool__logo__img"/>
                </div>
            </div>
            <div class="pool__meta u-mar--bottom--sml">
                <div class="pool__meta__item">
                    <div class="pill pill--secondary pill--med">Moderate Term Growth</div>
                </div>
                <div class="pool__meta__item is-spacer">
                    |
                </div>
                <div class="pool__meta__item">
                    <div class="u-display--ib type--color--secondary">EXP. ratio 0.79%</div>
                </div>
            </div>
            <div class="row pool__wrap">
                <div class="col col-sml-12 col-lrg-6 col-xlrg-2 pool__section has-divider u-hide--to--med">
                    <img alt="The Donors' Fund Donut Graph" class="u-display--b u-align--h--center pool__chart" src="/assets/img/donut-2.svg" />
                </div>

                <div class="col col-sml-12 col-lrg-6 col-xlrg-3 pool__section has-divider">
                    <div class="u-mar--bottom--sml">Asset allocation</div>
                    <ul class="pool__list">
                        <li>
                            <div class="pool__marker pool__marker--primary"></div>
                            <div class="type--color--primary">Fixed Income</div>
                            <div class="pool__list__percentage">33%</div>
                        </li>
                        <li>
                            <div class="pool__marker pool__marker--secondary"></div>
                            <div class="type--color--primary">Cash</div>
                            <div class="pool__list__percentage">4%</div>
                        </li>
                        <li>
                            <div class="pool__marker pool__marker--tertiary"></div>
                            <div class="type--color--primary">Equity</div>
                            <div class="pool__list__percentage">63%</div>
                        </li>
                    </ul>
                </div>
                <div class="col col-sml-12 col-lrg-6 col-xlrg-3 pool__section has-border">
                    <div class="u-mar--bottom--sml">Risk</div>
                    <img alt="The Donors' Fund Graph" class="u-display--b u-align--h--center pool__chart" src="/assets/img/graph-2.svg" />
                </div>

                <div class="col col-sml-12 col-lrg-6 col-xlrg-4 pool__section">
                    <div class="u-mar--bottom--sml">Performance (annual average)</div>

                    <table class="pool__table">
                        <tr>
                            <td>
                                Inception:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                9.35%
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                5 year:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                8.84%
                            </td>
                        </tr>
                        <tr>

                            <td>
                                1 year:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                14.51%
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                Q3:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                4.63%
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="pool card--white">
            <div class="pool__flex">
                <h2 class="pool__title">
                        Growth pool

                </h2>
                <div class="u-mar--left--auto">
                    <img src="/assets/img/hero/M-logo.png" title="TDF's Merrill logo" class="pool__logo__img"/>
                </div>
            </div>
            <div class="pool__meta u-mar--bottom--sml">
                <div class="pool__meta__item">
                    <div class="pill pill--secondary pill--med">Long Term Growth</div>
                </div>
                <div class="pool__meta__item is-spacer">
                    |
                </div>
                <div class="pool__meta__item">
                    <div class="u-display--ib type--color--secondary">EXP. ratio 0.79%</div>
                </div>
            </div>
            <div class="row pool__wrap">
                <div class="col col-sml-12 col-lrg-6 col-xlrg-2 pool__section has-divider u-hide--to--med">
                    <img alt="The Donors' Fund Donut Graph" class="u-display--b u-align--h--center pool__chart" src="/assets/img/donut-2.svg" />
                </div>

                <div class="col col-sml-12 col-lrg-6 col-xlrg-3 pool__section has-divider">
                    <div class="u-mar--bottom--sml">Asset allocation</div>
                    <ul class="pool__list">
                        <li>
                            <div class="pool__marker pool__marker--primary"></div>
                            <div class="type--color--primary">Fixed Income</div>
                            <div class="pool__list__percentage">4%</div>
                        </li>
                        <li>
                            <div class="pool__marker pool__marker--secondary"></div>
                            <div class="type--color--primary">Cash</div>
                            <div class="pool__list__percentage">4%</div>
                        </li>
                        <li>
                            <div class="pool__marker pool__marker--tertiary"></div>
                            <div class="type--color--primary">Equity</div>
                            <div class="pool__list__percentage">92%</div>
                        </li>
                    </ul>
                </div>
                <div class="col col-sml-12 col-lrg-6 col-xlrg-3 pool__section has-border">
                    <div class="u-mar--bottom--sml">Risk</div>
                    <img alt="The Donors' Fund Graph" class="u-display--b u-align--h--center pool__chart" src="/assets/img/graph-3.svg" />
                </div>

                <div class="col col-sml-12 col-lrg-6 col-xlrg-4 pool__section">
                    <div class="u-mar--bottom--sml">Performance (annual average)</div>

                    <table class="pool__table">
                        <tr>
                            <td>
                                Inception:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                11.10%
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                5 year:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                9.99%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1 year:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                14.16%
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                Q3:
                            </td>
                            <td>
                                <i class="u-icon u-icon--sml u-icon--arrow-up--secondary"></i>
                            </td>
                            <td>
                                6.47%
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <div class="numbers__nav">
            <div class="js-carousel-next-6 numbers__nav--next">
                <i class="u-icon u-icon--med u-icon--c-arrow-right"></i>
            </div>
            <div class="js-carousel-prev-7 numbers__nav--prev">
                <i class="u-icon u-icon--med u-icon--c-arrow-left"></i>
            </div>
        </div>
        </div>

    </div>
</section>