<script>0</script>
<header class="header" id="site-header">
    <nav role="navigation" class="nav--top__wrap">
        <div class="container">
            <ul class="nav--top">
                <li class="nav--top__item">
                    <a href="/about.html" class="nav--top__link">About</a>
                </li>
                <!-- <li class="nav--top__item">
                    <a href="/resources.html" class="nav--top__link">Resources</a>
                </li> -->
                <li class="nav--top__item">
                    <a href="/contact.html" class="nav--top__link">Support</a>
                </li>
                <li class="nav--top__item">
                    <a href="/charity.html" class="nav--top__link">Charities</a>
                </li>
                <li class="nav--top__item">
                    <a href="/test.html" class="nav--top__link">Developers</a>
                </li>
                <li class="nav--top__item">
                    <a href="/api-documentation.html" class="nav--top__link">Developers2</a>
                </li>
                <li class="nav--top__item is-last">
                    <a href="tel:8446660808" class="nav--top__link"><i class="u-icon u-icon--xmed u-icon--phone-o u-icon--align--menu u-mar--right--xtny"></i> 1844.666.0808</a>
                    <a href="/app/login" id="lnkClientLogin"class="nav--top__link nav--top__last"><i class="u-icon u-icon--xmed u-icon--user u-icon--align--menu u-mar--right--xtny"></i> <span>Login</span></a>
                </li>
            </ul>
            <div class="nav--top--mobile">
                <a href="/"><img alt="The Donors' Fund Logo" class="nav--top--mobile__logo " src="/assets/img/logo.svg" /></a>
                <a href="/"><img alt="The Donors' Fund Logo" class="nav--top--mobile__logo is-negative" src="/assets/img/logo-invert.svg" /></a>
                <div class="u-mar--left--auto js-menu-toggle">
                    <i class="u-icon u-icon--med u-icon--hamburger"></i>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="header__wrap">
            <div class="header__logo header__logo--pos">
                <a href="/"><img alt="The Donors' Fund Logo" src="/assets/img/logo.svg" /></a>
            </div>
            <div class="header__logo header__logo--neg">
                <a href="/"><img alt="The Donors' Fund Logo" src="/assets/img/logo-invert.svg" /></a>
            </div>
            <nav role="navigation" class="header__nav">
                <ul class="nav--primary">
                    <li>
                        <a href="/what-we-offer.html" class="nav--primary__item">What we offer</a>
                    </li>
                    <li>
                        <a href="/investments.html" class="nav--primary__item">Investments</a>
                    </li>
                    <li>
                        <a href="/private-client.html" class="nav--primary__item">Private Client</a>
                    </li>
                    <li class="nav--primary__btn">
                        <a href="/create-account.html" class="btn btn--submit btn--submit--header">Open an Account <span
                                class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="nav--mobile__bg js-menu"></div>
<nav class="nav--mobile__wrap js-menu-inner">
    <ul class="nav--mobile u-mar--bottom--xxlrg">
        <li class="nav--mobile__control">
            <button type="button" class="btn nav--mobile__close js-menu-toggle">
                <i class="nav--mobile__icon"></i>
            </button>
        </li>
        <li>
            <a href="/what-we-offer.html" class="nav--mobile__item nav--mobile--enh">What we offer</a>
        </li>
        <li>
            <a href="/investments.html" class="nav--mobile__item nav--mobile--enh">Investments</a>
        </li>
        <li>
            <a href="/private-client.html" class="nav--mobile__item nav--mobile--enh">Private Client</a>
        </li>
        <li>
            <a href="/about.html" class="nav--mobile__item">About</a>
        </li>
        <!-- <li>
            <a href="/resources.html" class="nav--mobile__item">Resources</a>
        </li> -->
        <li>
            <a href="/contact.html" class="nav--mobile__item">Support</a>
        </li>
        <li>
            <a href="/charity.html" class="nav--mobile__item">Charities</a>
        </li>
    </ul>
    <div>
        <a class="btn btn--base btn--secondary btn--full u-mar--bottom--med" href="/create-account.html">Open an
            Account</a>
        <a class="btn btn--base btn--neutral btn--full" href="/app/login">Login</a>
    </div>
</nav> 