<section role="region" class="section--sml section--bleed" id="how-it-works">
    <div class="carousel carousel--primary">
        <div class="carousel--primary__left">
            <div class="carousel--primary__left__item">
                <div class="carousel--center">
                    <h5 class="u-mar--bottom--med">How It Works</h5>
                    <h3 class="u-mar--bottom--sml">Give right now, <br>or at the right moment.</h3>
                    <div class="type--center--to--med u-hide--to--med">
                        <button type="button" class="btn btn btn--submit js-carousel-prev u-rotate--180">
                            <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span>
                        </button>
                        <button type="button" class="btn btn btn--submit js-carousel-next">
                            <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel--primary__right">
            <div class="carousel--primary__right__item">
                <section class="js-carousel-big slick--default">
                    <div>
                        <div class="carousel--testimonials carousel--testimonials--secondary">
                            <div class="carousel--testimonials--inner is-big">
                                <img alt="The Donors' Fund Login" class="carousel__img--sml" src="/assets/img/wwo-deposit.png" />
                                <p class="type--color--primary type--wgt--light type--medium u-mar--bottom--med">Step 1: Deposit</p>
                                <h4 class="carousel--testimonials__title u-mar--bottom--sml">Transfer funds, enjoy tools</h4>
                                <ul class="list--buleted type--sml">
                                    <li><span class="list--buleted__text">Open a free giving account in minutes</span></li>
                                    <li><span class="list--buleted__text">Contribute funds or most other assets</span></li>
                                    <li><span class="list--buleted__text">Qualify for a full, immediate tax deduction</span></li>
                                    <li><span class="list--buleted__text">Track contributions and grants online</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--testimonials carousel--testimonials--secondary">
                            <div class="carousel--testimonials--inner is-big">
                                <img alt="The Donors' Fund Plant" class="carousel__img--sml" src="/assets/img/cactus-sml.png" />
                                <p class="type--color--primary type--wgt--light type--medium u-mar--bottom--med">Step 2: Invest</p>
                                <h4 class="carousel--testimonials__title u-mar--bottom--sml">Grow assets, shrink taxation</h4>
                                <ul class="list--buleted type--sml">
                                    <li><span class="list--buleted__text">Advise how your funds should be invested</span></li>
                                    <li><span class="list--buleted__text">The Donors' Fund stewards all investments with great care</span></li>
                                    <li><span class="list--buleted__text">Growth is tax-free, enabling greater impact</span></li>
                                    <li><span class="list--buleted__text">Assets may be assigned to advisors or others</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--testimonials carousel--testimonials--secondary">
                            <div class="carousel--testimonials--inner is-big">
                                <img alt="The Donors' Fund Login" class="carousel__img--sml" src="/assets/img/wwo-grant.png" />
                                <p class="type--color--primary type--wgt--light type--medium u-mar--bottom--med">Step 3: Grant</p>
                                <h4 class="carousel--testimonials__title u-mar--bottom--sml">Realize vision, escape burdens</h4>
                                <ul class="list--buleted type--sml">
                                    <li><span class="list--buleted__text">Discover charities aligned with your passions</span></li>
                                    <li><span class="list--buleted__text">Recommend grants through The Donor's Fund's many tools</span></li>
                                    <li><span class="list--buleted__text">The Donor's Fund verifies 501(c)(3) status and executes grants</span></li>
                                    <li><span class="list--buleted__text">Access documentation and reports on demand</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--testimonials carousel--testimonials--secondary">
                            <div class="carousel--testimonials--inner is-big">
                                <img alt="The Donors' Fund Login" class="carousel__img--sml" src="/assets/img/wwo-eternalize.png" />
                                <p class="type--color--primary type--wgt--light type--medium u-mar--bottom--med">Step 4: Eternalize</p>
                                <h4 class="carousel--testimonials__title u-mar--bottom--sml">Create legacy, give forever</h4>
                                <ul class="list--buleted type--sml">
                                    <li><span class="list--buleted__text">Build out your succession or endowment plan</span></li>
                                    <li><span class="list--buleted__text">Evolve your plan as your charitable assets grow</span></li>
                                    <li><span class="list--buleted__text">Enjoy 1:1 guidance to rally family around plan</span></li>
                                    <li><span class="list--buleted__text">Leave a legacy of giving to the next generation</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </section>
                <div class="carousel__nav__wrap u-hide--from--med">
                    <div class="js-carousel-next-6 numbers__nav--next">
                        <i class="u-icon u-icon--med u-icon--c-arrow-right"></i>
                    </div>
                    <div class="js-carousel-prev-6 numbers__nav--prev">
                        <i class="u-icon u-icon--med u-icon--c-arrow-left"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>