<section class="section--top" role="banner">
    <div class="container--split">
        <div class="container--split--left">
            <div class="container--split__text">
                <h1 class="u-mar--bottom--sml">All you need, <br class="u-hide--to--lrg"> to give all you want.</h1>
                <p class="u-mar--bottom--med type--center--to--med">The most advanced charitable platform,<br class="u-hide--to--lrg"> build to scale with your giving ambitions.</p>
               
                <div class="type--center--to--med">
                    <a class="btn btn--base btn--primary" href="/create-account.html">Open an Account</a>
                </div>
            </div>
        </div>
        <div class="container--split--right">
            <img alt="The Donors' Fund What we Offer" class="container--split__img" src="/assets/img/what-we-offer.png" />
        </div>
    </div>
</section>