<section role="region" class="section--sml section--feat">
        <div class="container">
            <div class="row row-align-center">
                <div id="graphic" class="col col-sml-12 col-lrg-5 u-hide--to--med">
                    <img alt="The Donors' Fund Mobile" class="section__img--med u-align--h--center list--expandable__img list-1  is-visible" src="/assets/img/legacy-planning.jpg">
                    <img alt="The Donors' Fund Mobile" class="section__img--med u-align--h--center list--expandable__img list-2" src="/assets/img/flexible-deposits.jpg">
                    <img alt="The Donors' Fund Mobile" class="section__img--med u-align--h--center list--expandable__img list-3" src="/assets/img/mob-app.jpg">
                </div>
                <div class="col col-sml-12 col-lrg-6 col-push-lrg-1">
                    <h3 class="u-mar--bottom--sml">Management Features</h3>
                    <ul class="list--expandable js-expandables">
                        <li id="list-1" class="list--expandable__item is-expanded">
                            <div class="list--expandable__title">Legacy Planning</div>
                            <div class="list--expandable__copy w--100">
                                <div class="type--med type--color--primary u-mar--bottom--sml">Leave an impact that<br class="u-hide--to--lrg"/> lasts beyond your lifetime</div>
                                
                                <ul class="list--checked">
                                    <li>
                                        <div>
                                            <div><strong>Succession Plans</strong></div>
                                            <span>Transfer granting rights to one or multiple successors</span>
                                        </div>
                                    </li>
                                   <li>
                                       <div>
                                            <div><strong>Endowment Plans</strong></div>
                                            <span>Endow remaining funds to one or multiple charities</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="list-2" class="list--expandable__item">
                            <div class="list--expandable__title">Flexible Deposits</div>
                            <div class="list--expandable__copy w--100">
                                <div class="type--med type--color--primary u-mar--bottom--sml">Fund your account in many ways</div>
                                
                                <ul class="list--checked">
                                    <li><span><strong>Checks</strong></span></li>
                                    <li><span><strong>Direct Deposit via ACH</strong></span></li>
                                    <li><span><strong>Wire Transfers</strong></span></li>
                                    <li>
                                        <div>
                                        <div><strong>Stocks & Securities</strong> <div>
                                        <div>Including mutual fund shares and bonds</div>
                                        </div>
                                    </li>
                                    <li>
                                        <span>
                                            <div><strong>Real & Collectible Assets</strong> </div>

                                                <div>Residential and commercial real estate</div>
                                                <div>Artworks and jewelry</div>
                                                <div>Collectibles and automobiles</div>

                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <div><strong>Business & Private Interests</strong> </div>
                                            
                                            <div>Corporate stocks, private equity, and more</div>
                                            
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <div><strong>3rd-Party Donor Advised Fund</strong> </div>
                                            
                                            <div>Transfer funds from your existing DAF to your new Giving Account</div>
                                            
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="list-3" class="list--expandable__item">
                            <div class="list--expandable__title">Mobile App <div class="pill pill--secondary pill--sml pill--inline">Coming Soon</div></div>
                            <div class="list--expandable__copy w--100">
                                <div class="type--med type--color--primary u-mar--bottom--sml">Oversee your pocket, from your pocket</div>
                                <p class="u-mar--bottom--sml">All the power of your online account, now at your fingertips in real time.</p>
                                <ul class="list--checked">
                                    <li><span>Check balances, activity and documentation</span></li>
                                    <li><span>Make deposits, grants and account upgrades</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>