<section role="region" class="section--sml section--feat">
    <div class="container">
        <div class="row row-align-center">
            <div class="col col-sml-12 col-lrg-6">
                <h5 class="u-mar--bottom--med">Lift Off</h5>
                <h3 class="u-mar--bottom--sml">Lose the burdens, <br>gain the freedom</h3>
                
                <div class="type--center--to--med">
                    <a href="/contact.html" class="btn btn--base btn--primary">Speak with a concierge</a>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-6  u-hide--to--med">
                 <img alt="The Donors' Fund Cage" class="u-align--h--center " src="/assets/img/cage-o.jpg" />
            </div>
        </div>
    </div>
</section>