<section role="region" class="section--sml">
    <div class="container">
        <div class="row">
            <div class="col col-sml-12 col-lrg-8 col-xlrg-6 col-push-lrg-2 col-push-xlrg-3 type--center">
                <h5 class="u-mar--bottom--med">Low, flat fee</h5>
                <h3 class="u-mar--bottom--sml">A single, simple, clear fee</h3>
                <p class="u-mar--bottom--xlrg">No tier-based rates. No hidden fees. No transaction fees.<br class="u-hide--to--med">
                    Just one flat fee of <span class="type--color--secondary">0.50%</span> (half a percentage point) annualy. So simple.
                </p>
            </div>
            <div class="col col-sml-12 col-xlrg-8 u-hide--to--lrg">
                <div class="card--compare card--compare--blue card--has-baloons">
                     <img alt="The Donors' Fund Balloons" class="card--has-baloons__img " src="/assets/img/balloons.png" />
                    <h4 class="card--compare__title u-mar--bottom--sml">Donor Advised Fund</h4>
                    <p class="card--compare__copy u-mar--bottom--med type--color--primary">Totaly <strong>free</strong> to give</p>
                    <ul class="list--checked">
                        <li>
                            <span>Online Grants</span>
                        </li>
                        <li>
                            <span>QR Codes</span>
                 
                        </li>
                         <li>
                             <span>Charity Website</span>
                        </li>
                         <li>
                             <span>Campaign Connect</span>
                        </li>
                        <li>
                            <span>Checks</span>
                        </li>

                        <li>
                            <span>Card</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-sml-12 col-xlrg-4 u-hide--to--lrg">
                <div class="card--compare card--compare--orange">
                    <h4 class="card--compare__title u-mar--bottom--sml type--color--secondary">Charity</h4>
                    <p class="type--color--primary u-mar--bottom--med">We offer some additional services you may find interesting.</p>
                    <ul class="card--compare__list card--compare__list--full">
                        <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Online Grants</div>
                                <div class="u-mar--left--auto"><span class="card--compare__free">Free</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">QR Codes</div>
                                <div class="u-mar--left--auto"><span class="card--compare__free">Free</span></div>
                            </div>
                        </li>
                         <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Charity Website</div>
                                <div class="u-mar--left--auto"><span class="card--compare__free">Free</span></div>
                            </div>
                        </li>
                         <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Campaign Connect</div>
                                <div class="u-mar--left--auto"><span class="card--compare__free">Free</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Checks</div>
                                <div class="u-mar--left--auto"><span class="card--compare__free">Free</span></div>
                            </div>
                        </li>

                        <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Card</div>
                                <div class="u-mar--left--auto"><span class="card--compare__free">Free</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>