<section role="region" class="section--sml section--enh">
        <div class="container">
            <div class="row row-align-center">
                <div class="col col-sml-12 col-lrg-5">
                    <h5 class="u-mar--bottom--med">Highlights</h5>
                    <h3 class="u-mar--bottom--sml">Giving Features</h3>
                    <ul class="list--expandable js-expandable">
                        <li id="list-1" class="list--expandable__item is-expanded">
                            <div class="list--expandable__title">Give Without Limits</div>
                             <p class="list--expandable__copy">No grant minimums enables you to support more causes</p>
                        </li>
                        <li id="list-2" class="list--expandable__item">
                            <div class="list--expandable__title">Giving Cards</div>
                            <p class="list--expandable__copy">Get a personalized card to swipe at any charity with security and traceability.</p>
                        </li>
                        <li id="list-3" class="list--expandable__item">
                            <div class="list--expandable__title">Checks</div>
                             <p class="list--expandable__copy">Order checks in custom denominations and track each check's status in real time
</p>
                        </li>
                        <li id="list-4" class="list--expandable__item">
                            <div class="list--expandable__title">Bank-Like Portal</div>
                             <p class="list--expandable__copy">Log in anytime to securely make and schedule one-time or recurring grants
</p>
                        </li>
                        <li id="list-5" class="list--expandable__item">
                            <div class="list--expandable__title">ChariData<sup>TM</sup></div>
                             <p class="list--expandable__copy">Research charities' financials and activities to get proprietary insights and make more strategic grants
</p>
                        </li>
                        <li id="list-6" class="list--expandable__item">
                            <div class="list--expandable__title">Mobile App</div>
                             <p class="list--expandable__copy">Manage your giving and your account from any smart device
</p>
                        </li>
                        <li id="list-7" class="list--expandable__item">
                            <div class="list--expandable__title">Contactless QR Codes</div>
                             <p class="list--expandable__copy">Charities print QR codes on their materials, and donors scan with their smartphone to make instant, contactless grants

</p>
                        </li>
                    </ul>
                </div>
                <div id="graphics" class="col col-sml-12 col-lrg-6 col-push-xlrg-1 u-hide--to--med u-mar--top--xxxlrg">
                    <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img is-visible list-1 " src="/assets/img/laptop-1.jpg">
                    <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-2" src="/assets/img/laptop-2.jpg">
                    <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-3" src="/assets/img/laptop-3.jpg">
                    <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-4" src="/assets/img/laptop-4.jpg">
                    <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-5" src="/assets/img/laptop-5.jpg">
                    <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-6" src="/assets/img/laptop-6.jpg">
                    <img alt="The Donors' Fund Laptop" class="section__img--med u-align--h--center list--expandable__img list-7" src="/assets/img/laptop-7.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
