<section role="region" class="section--sml u-hide--to--lrg">
    <div class="container">
        <div class="row u-mar--bottom--sml">
            <div class="col col-sml-12 col-lrg-8 col-xlrg-6 col-push-lrg-2 col-push-xlrg-3 type--center">
                <h5 class="u-mar--bottom--med">Core Benefits</h5>
                <h3 class="u-mar--bottom--lrg">DAFs at a glance</h3>
            </div>
            <div class="col col-sml-12 col-lrg-4 spacer--card">
                <div class="card--simple card--simple--enh">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="type--color--primary card--simple__copy">Instant tax deductions</p>
                </div>
            </div>

            <div class="col col-sml-12 col-lrg-4 spacer--card">
                <div class="card--simple card--simple--enh">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="type--color--primary card--simple__copy">Retain granting control</p>
                </div>
            </div>

            <div class="col col-sml-12 col-lrg-4 spacer--card">
                <div class="card--simple card--simple--enh">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="type--color--primary card--simple__copy">Flawless, unified receipts</p>
                </div>
            </div>

            <div class="col col-sml-12 col-lrg-4 spacer--card">
                <div class="card--simple card--simple--enh">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="type--color--primary card--simple__copy">Retain your anonymity</p>
                </div>
            </div>

             <div class="col col-sml-12 col-lrg-4 spacer--card">
                <div class="card--simple card--simple--enh">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="type--color--primary card--simple__copy">No distribution minimums</p>
                </div>
            </div>

             <div class="col col-sml-12 col-lrg-4 spacer--card">
                <div class="card--simple card--simple--enh">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="type--color--primary card--simple__copy">No accounting/legal fees</p>
                </div>
            </div>

            <div class="col col-sml-12 col-lrg-4 spacer--card">
                <div class="card--simple card--simple--enh">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="type--color--primary card--simple__copy">No 501(c)(3) verification</p>
                </div>
            </div>

            <div class="col col-sml-12 col-lrg-4 spacer--card">
                <div class="card--simple card--simple--enh">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="type--color--primary card--simple__copy">Write off up to 60% of income</p>
                </div>
            </div>

            <div class="col col-sml-12 col-lrg-4 spacer--card">
                <div class="card--simple card--simple--enh">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="type--color--primary card--simple__copy">Deduct donated assets at fair market value</p>
                </div>
            </div>
        </div>
        <div class="type--center">
            <a href="#how-it-works" class="btn btn--base btn--primary">Learn more about DAFs</a>
        </div>
    </div>
</section>