<section class="section--med section--primary">
    <div class="container--split container--split--reverse">
        <div class="container--split--left"> 
            <div class="container--split__text">
                <h5 class="u-mar--bottom--med">Private Client Suite</h5>
                <h3 class="u-mar--bottom--sml type--color--negative">Even more power for <br class="u-hide--to--xlrg" />more sizeable donors</h3>
                <p class="u-mar--bottom--sml type--center--to--med">Want to donate securities or real estate assets? Need to transition from a private foundation?</p>
                <p class="u-mar--bottom--med type--center--to--med">As your charitable activities grow, we help your administrative activities shrink. That's how you stay <strong class="type--nowrap">Free to give <sup>TM</sup>.</strong></p>
                <div class="type--center--to--med">
                    <a href="/private-client.html" class="btn btn--base btn--neutral">Private Client features</a>
                </div>
            </div>
        </div>
        <div class="container--split--right ">
            <img alt="The Donors' Fund Client Suite" class="u-align--h--center img--offset--left u-mar--bottom--med " src="/assets/img/private-client-suite.jpg" />
        </div>
    </div>
</section>
