<section role="region" class="section--sml section--enh">
    <div class="container">
        <h5 class="u-mar--bottom--med">Rethinking Fees</h5>
        <h3 class="u-mar--bottom--sml">We take less, so your giving can make a greater impact</h3>

        <div class="row">            
            <div class="col col-sml-12 col-lrg-4">
                <div class="card--expandable">
                    <div class="card--expandable__title u-mar--bottom--sml type--med">
                        Join Free
                    </div>
                     <div class="card--expandable__copy">
                         No minimum balance to open or maintain account
                     </div>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-4">
                <div class="card--expandable">
                    <div class="card--expandable__title u-mar--bottom--sml type--med">
                        Fee-Free Giving
                    </div>
                     <div class="card--expandable__copy">
                         No minimum balance to open or maintain account
                     </div>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-4">
                <div class="card--expandable">
                    <div class="card--expandable__title u-mar--bottom--sml type--med">
                        0.5% Flat Fee
                    </div>
                     <div class="card--expandable__copy">
                         No minimum balance to open or maintain account
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>