/*------------------------------------*\
    # base.globals
\*------------------------------------*/

/**
 * Initialize typomatic in project (sets font-size and line-height
 * on html selector.
 */
html {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, white 0%, $hawkes-blue 100%);
    background-repeat: no-repeat;
    
    font-size: responsive $type-small $type-base;
    font-range: 320px 1600px;
    
    line-height: responsive 26px 34px;
    line-height-range: 320px 1600px;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;

    font-family: $ff-sans;
    font-weight: $type-weight-light;
    color: $color-text;
    letter-spacing: 10%;

    &.menu-is-open {
        @media (--screen-to-lrg) {
            height: 100%;
            overflow: hidden;
            overflow-y: hidden;
        }
    }

    * {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

svg {
    max-width: 100%;
}

*:focus {
    outline: none;
}

.main {
    @media (--screen-to-lrg) {
        padding-top: $header-height;
    }

    @media (--screen-from-lrg) {
        padding-top: $page-header-height;
    }
}