/*------------------------------------*\
    # component.inputgroup
\*------------------------------------*/

.inputgroup {

    display: table;
    position: relative;
    border-collapse: separate;
    width: 100%;

    &--main {
        display: table-cell;
        width: 100%;
        z-index: 2;
        position: relative;

        .input {
            border-radius: 0;
        }
    }

    &--aside { 
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        position: relative;
    }

    &__label {
        padding: calc($unit * 2) calc($unit * 4);
        border: 1px solid color($color-text a(50%));
        background-color: color($color-primary a(75%));
        color: white;

        &.is-left {
            border-radius: $radius-base 0 0 $radius-base;
        }

        &.is-right {
            border-radius: 0 $radius-base $radius-base 0;
        }
    }
}