/*------------------------------------*\
    # component.validation
\*------------------------------------*/

.validation {
    &__mark {
        color: $color-warning;
    }

    &__message {
        font-size: responsive $type-tiny $type-xsmall;
        font-range: 320px 1600px;

        line-height: responsive 16px 20px;
        line-height-range: 320px 1600px;

        color: $color-warning;

        display: block;

        &--secondary {
            padding: calc($unit * 4);
            margin-bottom: calc($unit * 5);

            background: color($color-warning a(0.2));
            text-align: center;
        }

        &__item {
            display: flex;
            margin-bottom: calc($unit * 2);
        }
    }
}
