/*------------------------------------*\
    # utils.order
\*------------------------------------*/

/**
 * Small grid
 */


.order-sml-1 {
    order: 1;
} 

.order-sml-2 {
    order: 2;
}

.order-sml-3 {
    order: 3;
}

.order-sml-4 {
    order: 4;
}

.order-sml-5 {
    order: 5;
}

.order-sml-6 {
    order: 6;
}

.order-sml-7 {
    order: 7;
}

.order-sml-8 {
    order: 8;
}

.order-sml-9 {
    order: 9;
}

.order-sml-10 {
    order: 10;
}

.order-sml-11 {
    order: 11;
}

.order-sml-12 {
    order: 12;
}

.order-sml-13 {
    order: 13;
}

.order-sml-14 {
    order: 14;
}

.order-sml-15 {
    order: 15;
}

.order-sml-16 {
    order: 16;
}

.order-sml-17 {
    order: 17;
}

.order-sml-18 {
    order: 18;
}

.order-sml-19 {
    order: 19;
}

.order-sml-20 {
    order: 20;
}

/**
 * Medium grid
 */
@media (--screen-from-sml) {
    .order-med-1 {
    order: 1;
} 

.order-med-2 {
    order: 2;
}

.order-med-3 {
    order: 3;
}

.order-med-4 {
    order: 4;
}

.order-med-5 {
    order: 5;
}

.order-med-6 {
    order: 6;
}

.order-med-7 {
    order: 7;
}

.order-med-8 {
    order: 8;
}

.order-med-9 {
    order: 9;
}

.order-med-10 {
    order: 10;
}

.order-med-11 {
    order: 11;
}

.order-med-12 {
    order: 12;
}
}
/**
 * Large grid
 */
@media (--screen-from-med) {
    .order-lrg-1 {
        order: 1;
    } 

    .order-lrg-2 {
        order: 2;
    }

    .order-lrg-3 {
        order: 3;
    }

    .order-lrg-4 {
        order: 4;
    }

    .order-lrg-5 {
        order: 5;
    }
}
/**
 * XLarge grid
 */
@media (--screen-from-lrg) {
    .order-xlrg-1 {
        order: 1;
    } 

    .order-xlrg-2 {
        order: 2;
    }

    .order-xlrg-3 {
        order: 3;
    }

    .order-xlrg-4 {
        order: 4;
    }

    .order-xlrg-5 {
        order: 5;
    }
}
/**
 * XXLarge grid
 */
@media (--screen-from-xlrg) {
    .order-xxlrg-1 {
        order: 1;
    } 

    .order-xxlrg-2 {
        order: 2;
    }

    .order-xxlrg-3 {
        order: 3;
    }

    .order-xxlrg-4 {
        order: 4;
    }

    .order-xxlrg-5 {
        order: 5;
    }
}
/**
 * XXXLarge grid
 */
@media (--screen-from-xxlrg) {
    .order-xxxlrg-1 {
        order: 1;
    } 

    .order-xxxlrg-2 {
        order: 2;
    }

    .order-xxxlrg-3 {
        order: 3;
    }

    .order-xxxlrg-4 {
        order: 4;
    }

    .order-xxxlrg-5 {
        order: 5;
    }
}

.v-center {
    align-self: center;

}

