/*------------------------------------*\
    # utils.width
\*------------------------------------*/

.w {

    &--max {

        &--480 {
            max-width: 480px;
        }
    }
    &--50 {
        width: 50%;

        &--px {
            width: 50px;
        }
    }

    &--100 {
        width: 100%;

        &--px {
            width: 100px;
        }

        &--from {
            &-med {
                @media (--screen-from-med) {
                    width: 100%;
                }
            }
        }

        &--to {
            &-lrg {
                @media (--screen-to-lrg) {
                    width: 100%;
                }
            }
        }
    }

    &--text {

        &--70 {

            @media (--screen-from-xlrg) {
                width: 70%;
            }
        }

        &--90 {

            @media (--screen-from-xlrg) {
                width: 90%;
            }
        }

        &--91 {

            @media (--screen-from-xlrg) {
                width: 91%; 
            }
        }
    }
}