/*------------------------------------*\
    # utils.opacity.css
\*------------------------------------*/

.u {
	&-opacity {
		&--10 {
			opacity: 0.1;
		}

		&--50 {
			opacity: 0.5;
		}
		
		&--100 {
			opacity: 1;
		}
	}
}