/*------------------------------------*\
    # view.home
\*------------------------------------*/

.home {

    &--bg {

        &--mobile {
            background-image: url('/assets/img/mobile-phone.png');
            background-repeat: no-repeat;
            background-position: center 100px;
            background-size: 300px;
        }
    }
}