<section role="region" class="section--sml section--bleed">
    <div class="carousel carousel--primary">
        <h2 class="u-mar--bottom--xxlrg u-hide--from--lrg carousel--primary--center">More and easier ways to give.</h2>
        <p class="u-mar--bottom--med u-hide--from--lrg carousel--primary--center u-hide--to--lrg">Discover even more innovations, <br />all in service of your giving.</p>
        
        <div class="carousel--primary__left order-sml-2 order-xlrg-2">
            <div class="carousel--primary__left__item carousel--primary--center">
                <h2 class="u-mar--bottom--med u-hide--to--lrg">More and easier ways to give.</h2>
                <div class="u-hide--to--med">
                    <button type="button" class="btn btn btn--submit u-mar--bottom--med js-carousel-prev u-rotate--180">
                        <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span>
                    </button>
                    <button type="button" class="btn btn btn--submit u-mar--bottom--med js-carousel-next">
                        <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span>
                    </button>
                </div>

                <p class="u-mar--bottom--med u-hide--to--lrg">Discover even more innovations, <br />all in service of your giving.</p>
                <a href="/what-we-offer.html" class="btn btn--base btn--primary u-hide--to--lrg">How it works</a>
            </div>
        </div>
        <div class="carousel--primary__right order-sml-3 order-xlrg-3">
            <div class="carousel--primary__right__item">
                <section class="js-carousel slick--default">
                    <div>
                        <div class="carousel--primary__item">
                            <div class="carousel--primary__item__inner">
                                <img alt="The Donors' Fund Mobile" class="carousel--primary__img carousel--primary--offset u-align--h--center" src="/assets/img/home-carousel/carousel-mobile.png" />
                                <p class="carousel--primary__title">Online Platform</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--primary__item">
                            <div class="carousel--primary__item__inner">
                                <img alt="The Donors' Fund Card" class="carousel--primary__img" src="/assets/img/home-carousel/carousel-card.png" />
                                <p class="carousel--primary__title">Giving Card</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--primary__item">
                            <div class="carousel--primary__item__inner">
                                <img alt="The Donors' Fund Check" class="carousel--primary__img" src="/assets/img/home-carousel/check.png" />
                                <p class="carousel--primary__title">Prefilled Checks</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--primary__item">
                            <div class="carousel--primary__item__inner">
                                <img alt="The Donors' Fund Donate" class="carousel--primary__img" src="/assets/img/home-carousel/donate.png" />
                                <p class="type--color--primary type--center type--wgt--light type--medium">Non-Profit Websites</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--primary__item">
                            <div class="carousel--primary__item__inner">
                                <img alt="The Donors' Fund Phone" class="carousel--primary__img" src="/assets/img/home-carousel/phone.png" />
                                <p class="type--color--secondary type--center type--wgt--light type--medium">By Phone</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--primary__item">
                            <div class="carousel--primary__item__inner">
                                <img alt="The Donors' Fund QR Scan" class="carousel--primary__img" src="/assets/img/home-carousel/phone-qr-scan.png" />
                                <p class="type--color--primary type--center type--wgt--light type--medium">Contactless QR Codes</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--primary__item">
                            <div class="carousel--primary__item__inner">
                                <img alt="The Donors' Fund Golden Egg" class="carousel--primary__img" src="/assets/img/home-carousel/golden-egg.png" />
                                <p class="type--color--primary type--center type--wgt--light type--medium">RE & Other Assets</p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="carousel__nav__wrap u-hide--from--med">
                    <div class="js-carousel-next-4 numbers__nav--next">
                        <i class="u-icon u-icon--med u-icon--c-arrow-right"></i>
                    </div>
                    <div class="js-carousel-prev-4 numbers__nav--prev">
                        <i class="u-icon u-icon--med u-icon--c-arrow-left"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>