<section role="region" class="section--sml section--bleed">
    <div class="carousel carousel--primary">
        <div class="carousel--primary__left">
            <div class="carousel--primary__left__item">
                <div class="carousel--center">
                    <h5 class="u-mar--bottom--med">Testimonials</h5>
                    <div class="row">
                        <div class="col col-sml-12 col-lrg-6 col-xlrg-5 col-xxlrg-12 col-center-sml col-uncenter-xxxlrg">
                            <h3 class="u-mar--bottom--med">In the words of those we empower</h3>
                        </div>
                    </div>
                    
                    <div class="type--center--to--med u-hide--to--med">
                        <button type="button" class="btn btn btn--submit u-mar--bottom--med js-carousel-prev-2 u-rotate--180">
                            <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span>
                        </button>
                        <button type="button" class="btn btn btn--submit u-mar--bottom--med js-carousel-next-2">
                            <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel--primary__right">
            <div class="carousel--primary__right__item">
                <section class="js-carousel-2 slick--default">
                    <div>
                        <div class="carousel--testimonials">
                            <div class="carousel--testimonials--inner">
                                <p class="carousel--testimonials__title u-mar--bottom--tny type--med">Joel Krasnow</p>
                                <div class="u-mar--bottom--med type--sml type--uppercase">Lawrence, NY</div>
                                <p class="u-mar--bottom--med">The Donors Fund has evolved to the point where I have a one stop for all my charitable giving.</p>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--testimonials">
                            <div class="carousel--testimonials--inner">
                                <p class="carousel--testimonials__title u-mar--bottom--tny type--med">Yechiel Weinberger</p>
                                <div class="u-mar--bottom--med type--sml type--uppercase">Brooklyn, NY</div>
                                <p class="u-mar--bottom--med">I have never felt comfortable giving out my personal information. Thanks to The Donors Fund, I can distribute funds without exposing my banking or credit card information.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--testimonials">
                            <div class="carousel--testimonials--inner">
                                <p class="carousel--testimonials__title u-mar--bottom--tny type--med">Chaim Goldfeder</p>
                                <div class="u-mar--bottom--med type--sml type--uppercase">Dallas, TX</div>
                                <p class="u-mar--bottom--med">Knowing The Donors Fund takes on the verification process, I no longer must worry about the charity’s qualification</p>
                            </div>
                        </div>
                    </div>
                     <div>
                        <div class="carousel--testimonials">
                            <div class="carousel--testimonials--inner">
                                <p class="carousel--testimonials__title u-mar--bottom--tny type--med">Meir S Gelley</p>
                                <div class="u-mar--bottom--med type--sml type--uppercase">Lakewood, NJ </div>
                                <p class="u-mar--bottom--med">The Donors’ Fund services has saved me a tremendous amount of time and made it a lot simpler to handle the complications related to charity.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--testimonials">
                            <div class="carousel--testimonials--inner">
                                <p class="carousel--testimonials__title u-mar--bottom--tny type--med">Mordy Schron</p>
                                <div class="u-mar--bottom--med type--sml type--uppercase">Lakewood, NJ</div>
                                <p class="u-mar--bottom--med">By using the Certificate Advisory Program I find that the recipient feels more respected and appreciated. This program also allows me to keep a clear, constant record of my activities, which is a tremendous help.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--testimonials">
                            <div class="carousel--testimonials--inner">
                                <p class="carousel--testimonials__title u-mar--bottom--tny type--med">Eli Schlisselfeld</p>
                                <div class="u-mar--bottom--med type--sml type--uppercase">Spring Valley, NY</div>
                                <p class="u-mar--bottom--med">The Donors’ Fund has tremendously simplified my charitable giving and took the stress away. What previously took me a full day of organizing, now takes thirty minutes. I can give with greater ease, in a secure and safe manner.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--testimonials">
                            <div class="carousel--testimonials--inner">
                                <p class="carousel--testimonials__title u-mar--bottom--tny type--med">Saul Wolf</p>
                                <div class="u-mar--bottom--med type--sml type--uppercase">Brooklyn, NY</div>
                                <p class="u-mar--bottom--med">Trust and anonymity are a major factor in my giving, at The Donors Fund, I personally got to know the individuals managing and strategizing my account</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="carousel--testimonials">
                            <div class="carousel--testimonials--inner">
                                <p class="carousel--testimonials__title u-mar--bottom--tny type--med">Yossi Meystel</p>
                                <div class="u-mar--bottom--med type--sml type--uppercase">Chicago, IL</div>
                                <p class="u-mar--bottom--med">Speaking to a representative that is both familiar with my account and my favorite charities, I can resolve any matter that may arise with ease</p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="carousel__nav__wrap u-hide--from--med">
                    <div class="js-carousel-next-5 numbers__nav--next">
                        <i class="u-icon u-icon--med u-icon--c-arrow-right"></i>
                    </div>
                    <div class="js-carousel-prev-5 numbers__nav--prev">
                        <i class="u-icon u-icon--med u-icon--c-arrow-left"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>