<section role="region" class="section--sml">
    <div class="container">
        <div class="carousel carousel--secondary">
            <div class="js-carousel-single slick--default">
                <div>
                    <div class="carousel--secondary__card">
                        <div class="carousel--secondary__left">
                            <h5 class="u-mar--bottom--med">In the News</h5>
                            <h2 class="u-mar--bottom--sml">Rarely seen, often felt</h2>
                            
                             <div class="card--personal u-hide--from--lrg u-mar--bottom--med">
                                <img alt="The Donors' Fund Board" src="/assets/img/Jim-Graham.png" class="card--personal__img" />
                                <img alt="The Donors' Fund Board" class="card--personal__name" src="/assets/img/JimGraham.png" />
                            </div>

                            <div class="carousel--secondary__sub u-mar--bottom--med">Jim Graham</div>

                            <div class="type--center--to--med">
                                <p class="carousel--secondary__text">Your giving account features powerful management capabilities to put you back in the giver's seat.</p>
                                <a class="btn btn--submit is-active" href="/">How it works <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
                            </div>
                        </div>
                        <div class="carousel--secondary__right u-hide--to--lrg">
                            <div class="card--personal">
                                <img alt="The Donors' Fund Board" src="/assets/img/Jim-Graham.png" class="card--personal__img" />
                                <img alt="The Donors' Fund Board" class="card--personal__name" src="/assets/img/JimGraham.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="carousel--secondary__card">
                        <div class="carousel--secondary__left">
                            <h5 class="u-mar--bottom--med">In the News</h5>
                            <h2 class="u-mar--bottom--sml">Rarely seen, often felt</h2>
                            
                             <div class="card--personal u-hide--from--lrg u-mar--bottom--med">
                                <img alt="The Donors' Fund Board" src="/assets/img/Jim-Graham.png" class="card--personal__img" />
                                <img alt="The Donors' Fund Board" class="card--personal__name" src="/assets/img/JimGraham.png" />
                            </div>

                            <div class="carousel--secondary__sub u-mar--bottom--med">Jim Graham</div>

                            <div class="type--center--to--med">
                                <p class="carousel--secondary__text">Your giving account features powerful management capabilities to put you back in the giver's seat.</p>
                                <a class="btn btn--submit is-active" href="/">How it works <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
                            </div>
                        </div>
                        <div class="carousel--secondary__right u-hide--to--lrg">
                            <div class="card--personal">
                                <img alt="The Donors' Fund Board" src="/assets/img/Jim-Graham.png" class="card--personal__img" />
                                <img alt="The Donors' Fund Board" class="card--personal__name" src="/assets/img/JimGraham.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>