<section class="section--top" role="banner">
    <div class="container--split">
        <div class="container--split--left">
            <div class="container--split__text">
                <h1 class="u-mar--bottom--sml">Set your giving free.</h1>
                <p class="u-mar--bottom--sml">Give when, where, and how you want <br class="u-hide--to--lrg">
                with innovative financial technology <br class="u-hide--to--lrg">
                that helps you take charge of your charity.
                </p>
                <div class="hero__list u-mar--bottom--med">
                    <div class="hero__list__item first">Industry First</div>
                    <div class="hero__list__item"><span>$0</span> Minimum Deposit</div>
                    <div class="hero__list__item second"><span>0.00% </span>APR</div>
                    <div class="hero__list__item third"><span>$0</span> Annual Fee</div>
                </div>
                <div>
                    <a class="btn btn--base btn--primary" href="/create-account.html">Open a Giving Account</a>
                </div>
            </div>
        </div>
        <div class="container--split--right">
            <img alt="The Donors' Fund Home Hero" class="container--split__img" src="/assets/img/home-hero.png" />
        </div>
    </div>

     <div class="container u-hide--to--lrg u-mar--top--xxxlrg">
            <div class="row row-align-center row-justify-center">
                <div class="col col-sml-4">
                    <div class="hero__logo">
                        <img alt="The Donors' Fund GuideStar Logo" class="hero__logo__img" src="/assets/img/hero/GS-logo.png" />
                    </div>
                </div>

                <div class="col col-sml-4">
                    <div class="hero__logo">
                        <img alt="The Donors' Fund Merrill Logo" class="hero__logo__img" src="/assets/img/hero/M-logo.png" />
                    </div>
                </div>

                <div class="col col-sml-4">
                    <div class="hero__logo">
                        <img alt="The Donors' Fund Bernath-Rosemberg Logo" class="hero__logo__img" src="/assets/img/hero/BR-logo.png" />
                    </div>
                </div>
            </div>
        </div>
</section>
