<section role="region" class="section--lrg">
            <div class="container">
                <div class="type--center u-mar--bottom--xxlrg">
                    <h2 class="u-mar--bottom--sml title--home">More control. <span class="type--color--secondary type--italic">Less tethered.</span></h2>
                    <p class="container container--sml">Our innovations help you break free from limitations, paperwork, and compatibility issues. Now you can go from intent to grant in an instant:</p>
                </div>
                
                <div class="row row-justify-center row-spaced">
                    <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-3 type--center u-mar--bottom--lrg">
                        <img alt="The Donors' Fund Coin" class="u-mar--bottom--sml" src="/assets/img/coin-sml.png" />
                        <h5 class="u-mar--bottom--sml type--color--secondary">Our Portal</h5>
                        <p>Make, schedule, and manage grants online</p>
                    </div>
                    <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-3 type--center u-mar--bottom--lrg">
                        <img alt="The Donors' Fund Coin" class="u-mar--bottom--sml" src="/assets/img/coin-sml.png" />
                        <h5 class="u-mar--bottom--sml type--color--secondary">Debit Card</h5>
                        <p>Give anywhere + online with a swipe of The Donor's Card</p>
                    </div>
                    <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-3 type--center u-mar--bottom--lrg">
                        <img alt="The Donors' Fund Coin" class="u-mar--bottom--sml" src="/assets/img/coin-sml.png" />
                        <h5 class="u-mar--bottom--sml type--color--secondary">Donor Checks</h5>
                        <p>Customized, prefilled certificates that are even easier than cash</p>
                    </div>
                    <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-3 type--center u-mar--bottom--lrg">
                        <img alt="The Donors' Fund Coin" class="u-mar--bottom--sml" src="/assets/img/coin-sml.png" />
                        <h5 class="u-mar--bottom--sml type--color--secondary">Campaigns</h5>
                        <p>Donate to online fundraisers and control your anonymity level</p>
                    </div>
                    <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-3 type--center u-mar--bottom--lrg">
                        <img alt="The Donors' Fund Coin" class="u-mar--bottom--sml" src="/assets/img/coin-sml.png" />
                        <h5 class="u-mar--bottom--sml type--color--secondary">By Phone</h5>
                        <p>Make a donation with a call to our 24-hour switchboard</p>
                    </div>
                    <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-3 type--center u-mar--bottom--lrg">
                        <img alt="The Donors' Fund Coin" class="u-mar--bottom--sml" src="/assets/img/coin-sml.png" />
                        <h5 class="u-mar--bottom--sml type--color--secondary">Contactless</h5>
                        <p>Point your camera at a charity's QR code to give in a snap</p>
                    </div>
                    <div class="col col-sml-12 col-med-6 col-lrg-4 col-xlrg-3 type--center u-mar--bottom--lrg">
                        <img alt="The Donors' Fund Coin" class="u-mar--bottom--sml" src="/assets/img/coin-sml.png" />
                        <h5 class="u-mar--bottom--sml type--color--secondary">Owned Assets</h5>
                        <p>Donate real estate and securities without liquidation</p>
                    </div>
                </div>
                <div class="type--center u-mar--top--lrg">
                    <p class="u-mar--bottom--med">Discover even more innovations, all in service of your giving.</p>
                    <a href="/" class="btn btn--base btn--primary">How it works</a>
                </div>
            </div>
        </section>