

<section role="region" id="howDoWeSetYourGivingFree" class="section--med">
    <div class="container">
        <div class="row">
            <div class="col col-sml-12 col-lrg-8 col-xlrg-6 col-push-lrg-2 col-push-xlrg-3 type--center">
                <h5 class="u-mar--bottom--med">Fees reimagined</h5>
                <h3 class="u-mar--bottom--lrg">How do we set <br class="u-hide--to--lrg">your giving free?</h3>
            </div>
        </div>
        <div class="donors__wrap">
            
            <div class="donors__content card--med"> 
                <div class="donors__content__item u-mar--bottom--xlrg">
                    <div class="donors__img">
                        <img class="" alt="The Donors' Fund Baloons" src="/assets/img/balloons.png">
                    </div>
                    <h3 class="title--sans u-mar--bottom--tny">Donors</h3>
                    <p class="u-mar--bottom--tny">No tier-based rates.</p>
                    <p class="u-mar--bottom--tny">No hidden fees. </p>
                    <p class="u-mar--bottom--tny">No transaction fees. </p>
                    <p>Just simple, free giving.</p>
                </div>
                <div class="donors__content__percents">
                    <div class="donors__content__percents__item">
                        <div class="type--xlrg">
                            <div class="donors__content__percent"><sup class="donors__content__dollar">$</sup>0</div>
                        </div>
                        <div class="type--xsml">Minimum<br>Deposit</div>
                    </div>
                    <div class="donors__content__percents__item">
                        <div class="type--xlrg">
                            <div class="donors__content__percent">0<sup class="donors__content__perc">%</sup></div>
                        </div>
                        <div class="type--xsml">APR</div>
                    </div>
                    <div class="donors__content__percents__item">
                        <div class="type--xlrg">
                            <div class="donors__content__percent"><sup class="donors__content__dollar">$</sup>0</div>
                        </div>
                        <div class="type--xsml">Annual Fee</div>
                    </div>
                </div>
            </div>
            <div class="donors__box"> 
                <div class="card--white">

                    <h3 class="title--sans u-mar--bottom--tny">Charities</h3>
                    <p class="card--compare__copy u-mar--bottom--med">Processing fees</p>
                    <ul class="card--compare__list">
                        <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Online Grants</div>
                                <div class="u-mar--left--auto"><span class="card--compare__free">Free</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">QR Codes</div>
                                <div class="u-mar--left--auto">2.9%</div>
                            </div>
                        </li>
                         <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Charity Website</div>
                                <div class="u-mar--left--auto">2.9%</div>
                            </div>
                        </li>
                         <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Campaign Connect</div>
                                <div class="u-mar--left--auto">2.9%</div>
                            </div>
                        </li>
                        <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Check</div>
                                <div class="u-mar--left--auto">2.9%</div>
                            </div>
                        </li>

                        <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Giving Card</div>
                                <div class="u-mar--left--auto">2.9%</div>
                            </div>
                        </li>
                        <li>
                            <div class="list-group">
                                <div class="type--wgt--regular">Grant Request</div>
                                <div class="u-mar--left--auto">2.9%</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>