<section role="region" class="section--sml">
    <div class="container">
        <div class="row row-align-center">
            
            <div class="col col-sml-12 col-lrg-6">
                <h2 class="type--color--secondary">Give it a try</h3>
                <p class="u-mar--bottom--med type--color--primary type--center--to--med">Open a giving account for free in under 2 minutes.</p>
                <div class="type--center--to--med">
                    <a href="/create-account.html" class="btn btn--base btn--primary">Open a giving account</a>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-6 u-hide--to--med">
                <img class="" alt="The Donors' Fund Give a Try" src="/assets/img/give-a-try.png" />
            </div>
        </div>
    </div>
</section>