<section role="region" class="section--sml">
    <div class="container">
        <div class="row">
            <div class="col col-sml-12 col-lrg-10 col-xxlrg-7 col-center-lrg type--center">
                <h5 class="u-mar--bottom--med">Your Impact</h5>
                <h3 class="u-mar--bottom--med">The change that was given<br class="u-hide--to--lrg"> with The Donors' Fund support</h3>
            </div>
        </div>
        <div class="u-position--rel">

            <div class="js-carousel-impact u-hide--from--med numbers slick--default">
                <div>
                    <div class="numbers--primary">
                        <h2 class="numbers--primary__title">100,000 +</h2>
                        <p>Number of grants made</p>
                    </div>
                </div>
                <div>
                    <div class="numbers--primary">
                    <img alt="The Donors' Fund Coin" src="/assets/img/coin.jpg" class="numbers__img blendmode--multiply " />
                        <p class="type--color--secondary">Number of charities supported</p>
                    </div>
                </div>
                <div>
                    <div class="numbers--primary">
                        <h2 class="numbers--primary__title">86%</h2>
                        <p>Distribution ratio <br><small>(national average below 25%)</small></p>
                    </div>
                </div>
            </div>
            <div class="numbers__nav">
                <div class="js-carousel-next-3 numbers__nav--next">
                    <i class="u-icon u-icon--med u-icon--c-arrow-right"></i>
                </div>
                <div class="js-carousel-prev-3 numbers__nav--prev">
                    <i class="u-icon u-icon--med u-icon--c-arrow-left"></i>
                </div>
            </div>
        </div>

        <div class="row row-align-center u-hide--to--med">
            <div class="col col-sml-12 col-lrg-3 type--center">
                <div class="numbers--primary">
                    <h2 class="numbers--primary__title">100,000 +</h2>
                    <p>Number of grants made</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-6 type--center">
                <div class="numbers--primary">
                    <img alt="The Donors' Fund Coin" src="/assets/img/coin.jpg" class=" numbers--primary__img blendmode--multiply" />
                    <p class="type--color--secondary">Number of charities supported</p>
                </div>
            </div>
            <div class="col col-sml-12 col-lrg-3 type--center">
                <div class="numbers--primary">
                    <h2 class="numbers--primary__title">86%</h2>
                    <p>Distribution ratio <br><small>(national average below 25%)</small></p>
                </div>
            </div>
        </div>
    </div>
</section>