<section role="region" class="section--sml section--enh u-hide--to--lrg">
    <div class="container">
        <div class="row">
            <div class="col col-sml-12 col-lrg-8 col-xlrg-6 col-push-lrg-2 col-push-xlrg-3 type--center">
                <h5 class="u-mar--bottom--med">Donor-Advised Fund Benefits</h5>
                <h3 class="u-mar--bottom--med">Giving made less taxing</h3>
                <p class="u-mar--bottom--xlrg">
                    A donor-advised fund is the smartest, most<br class="u-hide--to--med"> strategic way to run your charitable activities:
                </p>
            </div>
            <div class="col col-sml-12 col-med-6 col-xxlrg-4 spacer--card">
                <div class="card--simple">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" class="" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="card--simple__copy type--color--primary">Instant tax deductions</p>
                </div>
            </div>

            <div class="col col-sml-12 col-med-6 col-xxlrg-4 spacer--card">
                <div class="card--simple">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" class="" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="card--simple__copy type--color--primary">Grant when you're ready</p>
                </div>
            </div>

            <div class="col col-sml-12 col-med-6 col-xxlrg-4 spacer--card">
                <div class="card--simple">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" class="" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="card--simple__copy type--color--primary">Flawless, unified receipts</p>
                </div>
            </div>

            <div class="col col-sml-12 col-med-6 col-xxlrg-4 spacer--card">
                <div class="card--simple">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" class="" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="card--simple__copy type--color--primary">Retain your anonymity</p>
                </div>
            </div>

            <div class="col col-sml-12 col-med-6 col-xxlrg-4 spacer--card">
                <div class="card--simple">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" class="" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="card--simple__copy type--color--primary">No distribution minimums</p>
                </div>
            </div>

             <div class="col col-sml-12 col-med-6 col-xxlrg-4 spacer--card">
                <div class="card--simple">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" class="" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="card--simple__copy type--color--primary">No accounting/legal fees</p>
                </div>
            </div>

             <div class="col col-sml-12 col-med-6 col-xxlrg-4 spacer--card">
                <div class="card--simple">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" class="" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="card--simple__copy type--color--primary">No 501(c)(3) verification</p>
                </div>
            </div>

            <div class="col col-sml-12 col-med-6 col-xxlrg-4 spacer--card">
                <div class="card--simple">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" class="" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="card--simple__copy type--color--primary">Write off up to 60% of income</p>
                </div>
            </div>

            <div class="col col-sml-12 col-med-6 col-xxlrg-4 spacer--card">
                <div class="card--simple">
                    <div class="card--simple__img">
                        <img alt="The Donors' Fund Coin" class="" src="/assets/img/coin-sml.png" />
                    </div>
                    <p class="card--simple__copy type--color--primary">Deduct donated assets at fair market value</p>
                </div>
            </div>
        </div>
        <div class="type--center">
            <a href="/what-we-offer.html" class="btn btn--base btn--primary">How it works</a>
        </div>
    </div>
</section>