<section role="region" class="section--lrg section--imagebg" style="background-image: url('/assets/img/tdf-office1.jpg')">
    <div class="container">
        <div class="card--negative is-home">
            <h5 class="u-mar--bottom--med type--color--negative">About Us</h5>
            <h3 class="type--color--negative u-mar--bottom--med">The wind beneath <br class="u-hide--to--lrg"> the giver's wing</h3>
            <p class="u-mar--bottom--med type--color--negative">
                The Donor's Fund is a modern, innovative donor-advised fund that serves as the executor of the donor's goodwill. From our tools to our services to our fee structures, every component is designed to eliminate all barriers, inefficiencies, overheads, and frustrations standing between giver and giving.
            </p>
            <a class="btn btn--submit" href="/about.html">Learn More <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
        </div>
    </div>
</section>
