<section role="region" class="section--sml section--enh">
        <div class="container">
            <div class="row">
                <div class="col col-sml-12 col-lrg-5">
                    <h4 class="u-mar--bottom--med title--sml">Manage every aspect of giving, from deposit through grants</h4>
                    <ul class="list--expandable js-expandable">
                        <li id="list-1" class="list--expandable__item is-expanded">
                            <div class="list--expandable__title">Fund automation</div>
                             <p class="list--expandable__copy">Create your own schedule of recurring deposits/grants</p>
                        </li>
                        <li id="list-2" class="list--expandable__item">
                            <div class="list--expandable__title">Giving Goals</div>
                            <p class="list--expandable__copy">Set smart granting goals and  track your progress in real time</p>
                        </li>
                        <!-- <li id="list-3" class="list--expandable__item">
                            <div class="list--expandable__title">Oversight without overhead</div>
                             <p class="list--expandable__copy">See every donation, document, and  admin function we handle for you</p>
                        </li> -->
                        <li id="list-3" class="list--expandable__item">
                            <div class="list--expandable__title">Charity directory</div>
                             <p class="list--expandable__copy">Our directory contains every US charity, enabling you to research, see insights, and save your favorites</p>
                        </li>
                        <li id="list-4" class="list--expandable__item">
                            <div class="list--expandable__title">Maximum Insight</div>
                             <p class="list--expandable__copy">Access a rich roster of reports to monitor what your charitable funds are doing</p>
                        </li>
                    </ul>
                </div>
                <div id="graphics" class="col col-sml-12 col-lrg-6 col-push-lrg-1 u-hide--to--med">
                    <img alt="The Donors' Fund Aspect" class="list--expandable__img section__img--med u-align--h--center  list-1 is-visible" src="/assets/img/home-every-aspect-1.jpg">
                    <img alt="The Donors' Fund Aspect" class="list--expandable__img section__img--med u-align--h--center list-2" src="/assets/img/home-every-aspect-2.jpg">
                    <img alt="The Donors' Fund Aspect" class="list--expandable__img section__img--med u-align--h--center list-3" src="/assets/img/home-every-aspect-3.jpg">
                    <img alt="The Donors' Fund Aspect" class="list--expandable__img section__img--med u-align--h--center list-4" src="/assets/img/home-every-aspect-4.jpg">
                </div>
            </div>
        </div>
    </div>
</section>