<section role="region" class="section--sml">
    <div class="container">
        <div class="row row-align-center">
            <div class="col col-sml-12 col-lrg-5 col-xlrg-6 type--center">
                <img class="" alt="The Donors' Fund Growth Giving" src="/assets/img/home-growth-giving.jpg" />
            </div>
            <div class="col col-sml-12 col-lrg-7 col-xlrg-6">
                <h5 class="u-mar--bottom--med">Growth Giving <sup>TM</sup></h5>
                <h3 class="u-mar--bottom--med">Grow your impact through investing</h3>
                <p class="u-mar--bottom--med type--center--to--med">
                    Choose from our carefully selected<br class="u-hide--to--lrg">
investments portfolios, all managed<br class="u-hide--to--lrg">
by the world's leading financial institutions.<br class="u-hide--to--lrg">
Grow your funds tax-free while deciding<br class="u-hide--to--lrg">
on how to grant them best.

                </p>
                <div class="type--center--to--med">
                    <a href="/investments.html" class=" btn btn--submit">Portfolios Overview <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a> 
                </div>
            </div>
        </div>
    </div>
</section>