<section role="region" class="section--med section--primary">
    <div class="container--split">
        <div class="container--split--left">
            <div class="container--split__text">
                
                    <h5 class="u-mar--bottom--xxlrg type--color--opaque">Private Client Suite</h5>
                    <h2 class="type--color--negative u-mar--bottom--med">A wealth of additional capabilities</h2>
                    <p class="carousel--secondary__sub"></p>
                    <p class="u-mar--bottom--sml type--color--opaque">
                        Experience a higher level of giving<br class="u-hide--to--lrg">
with our exclusive, private-client<br class="u-hide--to--lrg">
platform for bonafide philanthropists.

                    </p>
                    <a class="btn btn--submit is-active" href="/private-client.html">Private Client tools <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
                
            </div>
        </div>
        <div class="container--split--right">
            <img alt="The Donors' Fund Capabilities" class="container--split__img is-bleed" src="/assets/img/capabilities.jpg">
        </div>
    </div>
</section>