<section class="section--top" role="banner">
    <div class="container--split">
        <div class="container--split--left">
            <div class="container--split__text">
                <h1 class="u-mar--bottom--sml">We're here to help.</h1>
                <p class="u-mar--bottom--sml">
                    Live chat with our helpful team of <br class="u-hide--to--lrg">
financial and charitable experts.<br class="u-hide--to--lrg"><br class="u-hide--to--lrg">

You can also use the form below <br class="u-hide--to--lrg">
or contact us at support@thedonorsfund.org

                </p>

                <div>
                    <a href="mailto:support@thedonorsfund.org" class="btn btn--base btn--primary">Send Message</a>
                </div>
            </div>
        </div>
        <div class="container--split--right">
            <img alt="The Donors' Fund Phone" class="container--split__img" src="/assets/img/phone-big.png" />
        </div>
    </div>
</section>