<section role="region" class="section--lrg section--map-bg" style="background-image: url('/assets/img/map.jpg')">
    <div class="container">
        <div class="card--negative card--negative--white">
            <h5 class="u-mar--bottom--med">Our Office</h5>
            <h2 class="u-mar--bottom--sml">New Jersey Headquarters</h2>
            <p class="u-mar--bottom--sml">1777 Ave of the States<br>Suite 103<br>Lakewood, NJ 08701</p>
            <p class="u-mar--bottom--sml">support@thedonorsfund.org</p>
            <p class="u-mar--bottom--med">1844.666.0808</p>
            <a class="btn btn--submit" target="_blank" href="https://goo.gl/maps/49FeJiVy3JaJw5Ab9">Get Directions <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
        </div>
    </div>
</section>
