<section id="contact-form" role="region" class="section--sml">
    <div class="container">
        <div class="row">

            <div class="col col-sml-12 col-lrg-9 col-xxlrg-6 col-center-sml">
                <form id="contactUsForm" name="contactUsForm">
                    <div class="row row-align-bottom">
                        <div class="col col-sml-12 col-med-6 col-lrg-6">
                            <div class="form__field">
                                <label for="fullName" class="form__label">Full Name <span
                                        class="validation__mark">*</span></label>
                                <input id="fullName" name="fullName" type="text" class="input input--base" />
                            </div>
                        </div>
                        <div class="col col-sml-12 col-med-6 col-lrg-6">
                            <div class="form__field">
                                <label for="company" class="form__label">Company</label>
                                <input id="company" name="company" type="text" class="input input--base" />
                            </div>
                        </div>
                        <div class="col col-sml-12 col-med-6 col-lrg-6">
                            <div class="form__field">
                                <label for="email" class="form__label">Email <span
                                        class="validation__mark">*</span></label>
                                <input id="email" name="email" type="email" class="input input--base" />
                            </div>
                        </div>
                        <div class="col col-sml-12 col-med-6 col-lrg-6">
                            <div class="form__field">
                                <label for="number" class="form__label">Phone Number </label>
                                <input id="number" name="number" type="tel" class="input input--base" />
                            </div>
                        </div>

                        <div class="col col-sml-12 col-med-12 col-lrg-12">
                            <div class="form__field">
                                <label for="message" class="form__label">Message <span
                                        class="validation__mark">*</span></label>
                                <textarea id="message" name="message" rows="4"
                                    class="input  input--textarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" id="sendMessage" name="sendMessage"
                            class="btn btn--base btn--primary btn--full btn--full--not--med">
                            <i class="u-icon u-icon--sml u-icon--send u-mar--right--sml"></i> Send us a message
                        </button>
                    </div>

                    <div id="errorContainer"></div>
                    <div id="successContainer"></div>
                </form>
            </div>

            <!-- <div class="col col-sml-12 col-lrg-6 u-hide--to--med">
                <div class="card--white faq">
                    <div class="faq__title u-mar--bottom--lrg">Frequently asked Questions</div>
                    <ul class="js-expandable faq__list js-faq">
                        <li class="is-expanded u-mar--bottom--sml">
                            <div class="u-mar--right--med">
                                <button class="btn btn--expand btn--expand--lrg" type="button">
                                    <i class="icon--plus"></i>
                                </button>
                            </div>
                            <div>
                                <div class="faq__question">I am interested in financing for my stock options. What are best steps?</div>
                                <p class="faq__answer u-mar--top--tny">You can submit a request by clicking on "Get Started" in the menu. Once you complete the questions, you will be able to submit a request for financing and our team of Equity Advisors will review your application and be in touch with next steps shortly.</p>
                            </div>
                        </li>

                        <li class="u-mar--bottom--sml">
                            <div class="u-mar--right--med">
                                <button class="btn btn--expand btn--expand--lrg" type="button">
                                    <i class="icon--plus"></i>
                                </button>
                            </div>
                            <div>
                                <div class="faq__question">What are the rates for financing?</div>
                                <p class="faq__answer u-mar--top--tny">You can submit a request by clicking on "Get Started" in the menu. Once you complete the questions, you will be able to submit a request for financing and our team of Equity Advisors will review your application and be in touch with next steps shortly.</p>
                            </div>
                        </li>

                        <li class="u-mar--bottom--sml">
                            <div class="u-mar--right--med">
                                <button class="btn btn--expand btn--expand--lrg" type="button">
                                    <i class="icon--plus"></i>
                                </button>
                            </div>
                            <div>
                                <div class="faq__question">I am not comfortable sharing my information. Can I speak to someone first?</div>
                                <p class="faq__answer u-mar--top--tny">You can submit a request by clicking on "Get Started" in the menu. Once you complete the questions, you will be able to submit a request for financing and our team of Equity Advisors will review your application and be in touch with next steps shortly.</p>
                            </div>
                        </li>

                        <li class="u-mar--bottom--sml">
                            <div class="u-mar--right--med">
                                <button class="btn btn--expand btn--expand--lrg" type="button">
                                    <i class="icon--plus"></i>
                                </button>
                            </div>
                            <div>
                                <div class="faq__question">Does my financing require company approval?</div>
                                <p class="faq__answer u-mar--top--tny">You can submit a request by clicking on "Get Started" in the menu. Once you complete the questions, you will be able to submit a request for financing and our team of Equity Advisors will review your application and be in touch with next steps shortly.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</section>