<section role="region" class="section--sml" >
    <div class="container">
        <h3 class="u-mar--bottom--lrg type--left--from--sml">Charity Drop-off locations</h3>

        <div class="row type--sml type--center--to--sml">
            <div class="col col-sml-12 col-med-6 col-xlrg-3 col-xxlrg-5th card--address">
                <h5 class="u-mar--bottom--tny type--uppercase type--color--primary type--left--from--sml">Lakewood</h5>
                
                    <p class="type--base type--italic type--serif u-mar--bottom--sml">Headquarters</p>
                    <p class="card--address--grow">1777 Ave of The States, <br>Suite 103</p>
                    <p class="u-mar--bottom--sml">Lakewood NJ 08701</p>
                    <a target="_blank" class="btn btn--submit--align btn--submit" href="https://goo.gl/maps/ApoCXQ7e9nZM26d69">Get Directions <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
                
            </div>

            <div class="col col-sml-12 col-med-6 col-xlrg-3 col-xxlrg-5th card--address">
                <h5 class="u-mar--bottom--tny type--uppercase type--color--primary type--left--from--sml">Lakewood</h5>
                
                    <p class="type--base type--italic type--serif u-mar--bottom--sml">Tomchei Tzedakos</p>
                    <p class="card--address--grow">328 3<sup>rd</sup> Street</p>
                    <p class="u-mar--bottom--sml">Lakewood NJ 08701</p>
                    <a target="_blank" class="btn btn--submit--align btn--submit" href="https://goo.gl/maps/NruQ6dTJcQCeuwNv9">Get Directions <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
                
            </div>

            <div class="col col-sml-12 col-med-6 col-xlrg-3 col-xxlrg-5th card--address">
                <h5 class="u-mar--bottom--tny type--uppercase type--color--primary type--left--from--sml">Brooklyn - Boro Park</h5>
                
                    <p class="type--base type--italic type--serif u-mar--bottom--sml">Mr. Mailman</p>
                    <p class="card--address--grow">1303 53<sup>rd</sup> Street</p>
                    <p class="u-mar--bottom--sml">Brooklyn NY 11219</p>
                    <a target="_blank" class="btn btn--submit--align btn--submit" href="https://goo.gl/maps/76JkdTrFdciBPSFr8">Get Directions <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
                
            </div>

            <div class="col col-sml-12 col-med-6 col-xlrg-3 col-xxlrg-5th card--address">
                <h5 class="u-mar--bottom--tny type--uppercase type--color--primary type--left--from--sml">Brooklyn - Williamsburg</h5>
                
                    <p class="type--base type--italic type--serif u-mar--bottom--sml">M&B Mailboxes</p>
                    <p class="card--address--grow">183 Wilson Street</p>
                    <p class="u-mar--bottom--sml">Brooklyn NY 11211</p>
                    <a target="_blank" class="btn btn--submit--align btn--submit" href="https://goo.gl/maps/N2T3z6LyDM82YPZg7">Get Directions <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
                
            </div>

            <div class="col col-sml-12 col-med-6 col-xlrg-3 col-xxlrg-5th card--address">
                <h5 class="u-mar--bottom--tny type--uppercase type--color--primary type--left--from--sml">Monsey</h5>
                
                    <p class="type--base type--italic type--serif u-mar--bottom--sml">Satmar of Monsey</p>
                    <p class="card--address--grow">1 Monsey Blvd</p>
                    <p class="u-mar--bottom--sml">Monsey NY 10952</p>
                    <a target="_blank" class="btn btn--submit--align btn--submit" href="https://goo.gl/maps/2UoGARWwgaE9GXoT8">Get Directions <span class="btn--submit__icon__wrap"><i class="btn--submit__icon"></i></span></a>
                
            </div>
            
        </div>
    </div>
</section>
