<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>


    <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>
    <%= require('html-loader!./partials/chat.html') %>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- keep width for all viewport sizes -->

    <%= require('html-loader!./partials/header.html') %>

    <main class="main" role="main" id="main">
        <%= require('html-loader!./partials/home/hero.html') %>
        <%= require('html-loader!./partials/home/home-logos.html') %>
        <%= require('html-loader!./partials/home/carousel-easier-ways.html') %>
        <%= require('html-loader!./partials/home/section-manage-aspect.html') %>
        <%= require('html-loader!./partials/home/section-growth-giving.html') %>
        <%= require('html-loader!./partials/home/section-home-about-us.html') %>
        <!-- <%= require('html-loader!./partials/home/section-low-flat-fee.html') %> -->
        <%= require('html-loader!./partials/home/section-home-donors.html') %>
        <%= require('html-loader!./partials/home/section-donor-adviced.html') %>
        <%= require('html-loader!./partials/home/section-your-impact.html') %>

        <%= require('html-loader!./partials/home/section-home-the-wind.html') %>

        <%= require('html-loader!./partials/home/carousel-testimonials.html') %>
        <!-- <%= require('html-loader!./partials/home/carousel-in-the-news.html') %> -->
        <%= require('html-loader!./partials/home/section-give-it-a-try.html') %>

    </main>
    <%= require('html-loader!./partials/footer.html') %>


    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>